.cta_block {
  position: relative;
  width: 100%;
  margin-bottom: 150px;

  @include res('mob') {
    min-height: 495px;
    margin-bottom: 50px;
  }

  .bg {
    width: 100%;
    position: absolute;
    top: 0;

    @include res('mob') {
      display: none;
    }

    @include res('desk-l') {
      right: 5%;
    }

    @include res("tab") {
      display: none;
    }

    svg {
      width: 406px;
      position: absolute;
      right: 75px;
      top: 100px;
    }
  }

  .content {
    width: 500px;
    margin-left: 55px;
    padding-top: 159px;

    @include res('mob') {
      width: 280px;
      margin: 0 auto;
      padding-top: 80px;
    }

    @include res("tab") {
      margin: 0 auto;
    }

    .description {
      width: 466px;
      margin-top: 25px;

      @include res('mob') {
        width: 280px;
        margin-top: 19px;
      }
    }

    .form {

      .thank__you {
        text-align: center;
        font-family: "Proxima - Regular";
        font-size: 25px;
        margin-top: 10px;

        &:first-child {
          margin-top: 50px;
        }
      }

      .row {
        position: relative;

        .icon {
          position: absolute;
          width: 18px;
          height: 18px;
          top: 43px;
          right: 55px;

          @include res('mob') {
            right: 20px;
          }

          .ok {
            display: none;

            &.active {
              display: block;
            }
          }

          .error {
            display: none;

            &.active {
              display: block;
            }
          }

        }

        input {
          outline: 0;
          background: #EFE9E9;
          border: 0;
          width: 467px;
          height: 48px;
          color: #4F4F4F;
          font-size: 12px;
          margin-top: 30px;
          padding-left: 17px;
          padding-right: 17px;

          &.ok {
            border: 1px solid #F59E35;
            background: #FDFDFD;
          }

          &:hover {
            background: #FDFDFD;
            color: #141939;
          }

          &:active {
            color: #141939;
            background: #FDFDFD;
          }

          &:focus {
            color: #141939;
            background: #FDFDFD;
          }

          &.error {
            border: 1px solid #EB5757;
            background: #FDFDFD;
          }

          @include res('mob') {
            width: 280px;
          }
        }

        ::placeholder {
          color: #4F4F4F;
          font-weight: 200;
        }
      }

      .button_line {
        display: flex;
        width: 100%;
        margin-top: 32px;

        @include res("mob") {
          margin-top: 29px;
        }

        svg {
          @include res('mob') {
            display: none;
          }
          width: 256px;
        }

        .btn {
          margin-left: 32px;

          @include res('mob') {
            margin-left: 0;
          }
        }
      }
    }
  }
}
