.firstscreen {
  position: relative;
  min-height: 378px;

  @include res("mob") {
    padding-top: 124px;
    background: url("../img/pricing/bg_mobile.svg");
    min-height: 602px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
  }

  .content {
    margin-left: 55px;
    width: 465px;

    @include res("mob") {
      width: 280px;
      margin: 0 auto;
      display: block;
    }

    .title {
      line-height: 64px;
      color: #273271;
      font-size: 56px;
      font-family: 'Proxima - ExtraBold';
      letter-spacing: 3px;

      @include res("mob") {
        font-size: 32px;
        line-height: 33px;
      }
    }

    .subtitle {
      font-size: 22px;
      color: #141939;
      margin-top: 18px;
      font-family: 'Proxima - Regular';
      line-height: 29px;
      @include res("mob") {
        font-size: 18px;
        line-height: 24px;
      }
    }
  }

  .bg {
    position: absolute;
    right: 0;
    top: -90px;
    z-index: -1;

    @include res("mob") {
      display: none;
    }

    @include res("desk-l") {
        right: 0;
        top: 0;
    }

    @include res("tab") {
      top: -190px;
      svg {
        width: 290px;
      }
    }
  }

}
