.pricing_block {
  position: relative;
  min-height: 1250px;

  @include res('mob') {
    min-height: auto;
  }

  @include res("tab") {
    min-height: auto;
  }
  .content {
    margin-left: 55px;
    width: 460px;

    @include res("mob") {
      width: 100%;
      margin-top: 138px;
      margin-left: 21px;
    }

    .title {
      color: #273271;
      font-size: 42px;
      font-family: 'Proxima - ExtraBold';
      letter-spacing: 3px;
      margin-top: 15px;
      @include res("mob") {
        font-size: 32px;
      }
    }
    .description {
      font-size: 22px;
      color: #141939;
      margin-top: 15px;
      font-family: 'Proxima - Regular';
      line-height: 25px;

      @include res("mob") {
        font-size: 18px;
        width: 280px;
      }
    }
  }

  .mobile_price {
    display: none;


    @include res("tab") {
      width: 80%;
      margin: 0 auto;
      margin-top: 30px;
      .price {
        margin-top: 18px;
        div {
          &:nth-child(3) {
            font-size: 22px;
            margin-top: 23px;
            margin-right: 0;
          }
        }
      }

      display: flex;
      flex-wrap: wrap;

      .info {
        display: flex;
        width: 100%;
        height: 61px;
        background: #F1F1FB;
        margin-top: 0;
        position: relative;

        img {
          width: 37px;
          margin-left: 21px;
        }
        .title {
          font-size: 24px;
          margin-top: 17px;
          margin-left: 21px;
        }

        .sub_info {
          display: none;
        }
      }

      .price_item {
        background: #FBFBFD;
        width: 280px;
        margin: 0 auto;
        margin-top: 15px;

        &:not(.active) {
          height: 61px;
        }

        &:nth-child(2) {
          background: #FFF6EC;
          .info {
            background: #FEF0E0;
          }
        }

        &:nth-child(3) {
          background: #FAFAFF;
          .info {
            background: #F0F0FF;
          }
        }

        &:nth-child(4) {
          background: #FFEEED;
          .info {
            background: #FDCDCA;
          }
        }

        .price_data {
          display: none;
        }

        .arrow {
          position: absolute;
          right: 25px;
          top: 25px;
        }

        &.active {
          .price_data {
            display: block;
          }

          .down {
            display: none;
          }

          .up {
            display: block;
          }
        }

        .up {
          display: none;
        }

        .list {
          width: 214px;
          margin-left: 13px;

          div {
            font-family: "Proxima - Semibold";
            color: #273271;
            font-size: 16px;
            margin-top: 16px;
            padding-left: 37px;
            position: relative;

            &.inactive {
              opacity: .7;
            }

            &:first-child {
              margin-top: 12px;
            }

            &:before {
              content: "";
              position: absolute;
              width: 10px;
              height: 10px;
              border-radius: 50%;
              background: #F59E35;
              left: 9px;
              top: 2px;
            }
          }
        }

        .btn {
          margin: 0 auto;
          margin-top: 32px;
          margin-bottom: 25px;
        }
      }
    }
    @include res("mob") {
      margin-top: 30px;
      .price {
        margin-top: 18px;
        div {
          &:nth-child(3) {
            font-size: 22px;
            margin-top: 23px;
            margin-right: 0;
          }
        }
      }

      display: flex;
      flex-wrap: wrap;

      .info {
        display: flex;
        width: 100%;
        height: 61px;
        background: #F1F1FB;
        margin-top: 0;
        position: relative;

        img {
          width: 37px;
          margin-left: 21px;
        }
        .title {
          font-size: 24px;
          margin-top: 17px;
          margin-left: 21px;
        }

        .sub_info {
          display: none;
        }
      }

      .price_item {
        background: #FBFBFD;
        width: 280px;
        margin: 0 auto;
        margin-top: 15px;

        &:nth-child(2) {
          background: #FFF6EC;
          .info {
            background: #FEF0E0;
          }
        }

        &:nth-child(3) {
          background: #FAFAFF;
          .info {
            background: #F0F0FF;
          }
        }

        &:nth-child(4) {
          background: #FFEEED;
          .info {
            background: #FDCDCA;
          }
        }

        .price_data {
          display: none;
        }

        .arrow {
          position: absolute;
          right: 25px;
          top: 25px;
        }

        &.active {
          .price_data {
            display: block;
          }

          .down {
            display: none;
          }

          .up {
            display: block;
          }
        }

        .up {
          display: none;
        }

        .list {
          width: 214px;
          margin-left: 13px;

          div {
            font-family: "Proxima - Semibold";
            color: #273271;
            font-size: 16px;
            margin-top: 16px;
            padding-left: 37px;
            position: relative;

            &.inactive {
              opacity: .7;
            }

            &:first-child {
              margin-top: 12px;
            }

            &:before {
              content: "";
              position: absolute;
              width: 10px;
              height: 10px;
              border-radius: 50%;
              background: #F59E35;
              left: 9px;
              top: 2px;
            }
          }
        }

        .btn {
          margin: 0 auto;
          margin-top: 32px;
          margin-bottom: 25px;
        }
      }
    }
  }

  .prices {
    margin: 0 auto;
    width: 90%;
    min-height: 910px;
    margin-top: 75px;
    display: flex;

    @include res("mob") {
      display: none;
    }

    @include res("tab") {
      display: none;
    }

    .price_item {
      background: #F4F4F6;
      width: 25%;
      transition: all 0.3s ease-out;

      &:hover {
        box-shadow: 4px 4px 12px rgba(149, 149, 203, 0.5);
        background: #F0F0FF;
      }

      &.active {
        box-shadow: 4px 4px 12px rgba(149, 149, 203, 0.5);
        background: #F0F0FF;
      }

      .list {
        width: 214px;
        margin: 0 auto;
        min-height: 495px;
        div {
          font-family: "Proxima - Semibold";
          color: #273271;
          font-size: 16px;
          margin-top: 16px;
          padding-left: 37px;
          position: relative;

          &.inactive {
            opacity: .7;
            text-decoration: line-through;
          }

          &:first-child {
            margin-top: 25px;
          }

          &:before {
            content: "";
            position: absolute;
            width: 14px;
            height: 14px;
            border-radius: 50%;
            background: #F59E35;
            left: 9px;
            top: 2px;
          }
        }
      }

      .btn {
        margin: 0 auto;
        margin-top: 31px;
      }

      .extra {
        width: 214px;
        margin: 0 auto;

        .extra_title {
          font-family: 'Proxima - Semibold';
          color: #273271;
          font-size: 16px;
          margin-top: 30px;
        }

        .extra_items {
          p {
            position: relative;
            width: 100%;
            font-size: 16px;
            color: #273271;
            font-family: "Proxima - Regular";
            margin-top: 8px;

            &:first-child {
              margin-top: 19px;
            }

            &:after {
              content: '*';
              color: #141939;
              font-size: 21px;
              position: absolute;
              background: #FF8888;
              width: 14px;
              height: 14px;
              border-radius: 50%;
              text-align: center;
              right: -15px;
              top: 2px;
            }

            span {
              font-family: "Proxima - Semibold";
            }
          }
        }
      }
    }

  }

  .additional {
    margin-left: 55px;
    margin-top: 64px;

    @include res("mob") {
      margin-left: 0;
      margin-top: 38px;
      padding-left: 19px;
    }

    .title {
      font-family: 'Proxima - Semibold';
      font-size: 24px;
      color: #273271;

      @include res("mob") {
        letter-spacing: -1px;
      }
    }

    .info_blco {
      display: flex;
      width: 785px;
      justify-content: space-between;

      @include res("mob") {
        width: 100%;
        flex-wrap: wrap;
      }

      @include res("tab") {
        width: 100%;
        flex-wrap: wrap;
        justify-content: left;
      }

      .item {

        @include res("tab") {
          width: 45%;
        }

        div {
          position: relative;
          color: #141939;
          font-family: "Proxima - Regular";
          font-size: 16px;
          padding-left: 35px;
          margin-top: 19px;

          @include res("mob") {
            padding-left: 20px;
            margin-top: 15px;
          }

          &:first-child {
            margin-top: 24px;

            @include res("mob") {
              margin-top: 19px;
            }
          }

          &:before {
            content: '';
            background: #FF8888;
            position: absolute;
            width: 14px;
            height: 14px;
            border-radius: 50%;
            left: 2px;
            top: 2px;

            @include res("mob") {
              width: 8px;
              height: 8px;
              top: 4px;
            }
          }
        }
      }
    }
  }

  .price {
    width: 100%;
    display: flex;
    font-family: "Proxima - Regular";
    color: #273271;
    position: relative;
    height: 70px;
    margin-top: 23px;
    align-items: center;
    justify-content: center;

    div {
      &:first-child {
        font-family: "Proxima - Semibold";
        font-size: 24px;
        margin-top: -35px;
      }

      &:nth-child(2) {
        font-family: "Proxima - Semibold";
        font-size: 60px;
      }

      &:nth-child(3) {
        font-size: 22px;
        margin-top: 23px;
        margin-right: -15px;
      }
    }
  }

  .info {
    width: 214px;
    margin: 0 auto;
    text-align: center;
    margin-top: 40px;

    .title {
      font-family: "Proxima - ExtraBold";
      font-size: 32px;
      color: #273271;
      letter-spacing: 2.3px;
      margin-top: 26px;
    }

    .sub_info {
      font-family: "Proxima - Regular";
      font-size: 18px;
      color: #141939;
      margin-top: 17px;
    }
  }

  .price_request {
    .info {
      width: 100%;
    }
  }

  .btn {
    @include res('mob') {
      width: 240px;
    }
  }
}
