include ../partials/_variables
include ../partials/_mixins

- var suffix = production ? '.min' : '';

doctype html
html(lang='ru')

    block variables
        - var title = defaultPageTitle;

    block head
        head
            meta(name='format-detection', content='telephone=no')
            meta(charset='utf-8')
            meta(http-equiv='X-UA-Compatible', content='IE=edge')
            meta(name='viewport', content='width=device-width, initial-scale=1.0')
            title= title
            link(href='static/css/index' + suffix + '.css', rel='stylesheet')
            link(rel='icon', href='static/favicon.ico')

    block body
        body.is_anim
            // SVG
            block svg
                div.svg-container(style="position: absolute; width: 0; height: 0; overflow: hidden;")
                    include ../partials/_sprite.svg

            // picture element HTML5 shiv
            block inlineScripts
                script.
                  document.createElement('picture');

            // Header
            block header
                +header()

            // Main content
            block main
                main

            div.popup(data-popup-id="contacts")
                div.popup__container.request
                    div.popup__close
                        span
                        span
                    div.popup__content
                        div.popup__title Contact us
                        div.popup__body
                            div.form_block
                                form.contact__request(autocomplete='off')
                                    .form-group.form_item.input_wrap
                                        input.name(type='text')
                                        label Name
                                        .help-block write correct name
                                    .form-group.form_item.input_wrap
                                        input.company(type='text')
                                        label Company
                                        .help-block write correct email
                                    .form-group.form_item.input_wrap
                                        input.email(type='text')
                                        label Email
                                        .help-block write correct email
                                    button.btn.contact_reqeust_btn Contact us

            // Footer
            block footer
                +footer()

            // Scripts
            block scripts
                script(src='static/js/index.jquery' + suffix + '.js')
                script(src='static/js/index' + suffix + '.js')
