html {
  overflow-x: hidden;
}

body {
  margin: 0;
  overflow-x: hidden;
}

main {
  padding-top: 185px;
}

.btn {
  background: #F8443C;
  width: 180px;
  height: 46px;
  line-height: 46px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  font-family: 'Proxima - Bold';
  font-size: 12px;
  letter-spacing: 2px;
  transition: all 0.3s ease-out;
  box-sizing: border-box;
  border: 1px solid #F8443C;
  cursor: pointer;

  a {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-family: 'Proxima - Bold';
    font-size: 12px;

    &:focus {
      color: #fff;
    }

    &:active {
      color: #fff;
    }
  }

  @include res('mob') {
    width: 280px;
    margin: 0 auto;
  }

  &:hover {
    background: transparent;
    color: #141939;

    a {
      color: #141939;
    }
  }

  &.reverse {
    background: #FFF;
    color: #141939;

    &:hover {
      background: #F8443C;
      color: #fff;
    }
  }
}

h1 {
  display: block;
  line-height: 64px;
  color: #273271;
  font-size: 56px;
  font-family: 'Proxima - ExtraBold';
  letter-spacing: 3px;

  @include res('mob') {
    font-size: 32px;
    line-height: 35px;
  }
}

h2 {
  color: #273271;
  font-size: 42px;
  font-family: 'Proxima - ExtraBold';
  letter-spacing: 3px;

  @include res('mob') {
    font-size: 32px;
    line-height: 35px;
  }
}

h3 {
  font-size: 40px;
  line-height: 45px;
  letter-spacing: 4px;
  font-family: 'Proxima - ExtraBold';
  color: #273271;

  @include res('mob') {
    font-size: 32px;
    line-height: 35px;
    letter-spacing: 1px;
  }
}

p.subtitle {
  font-size: 22px;
  color: #141939;
  font-family: 'Proxima - Regular';
  line-height: 29px;

  @include res('mob') {
    font-size: 18px;
    line-height: 23px;
  }
}

p.subtitle_mobile {
  font-size: 22px;
  color: #141939;
  font-family: 'Proxima - Regular';
  line-height: 29px;

  @include res('mob') {
    font-size: 18px;
    line-height: 23px;
  }
}

p.description {
  font-family: "Proxima - Regular";
  font-size: 20px;
  color: #141939;

  @include res('mob') {
    font-size: 18px;
    line-height: 23px;
  }
}

.content__item {
  h5 {
    color: #141939;
    font-family: 'Proxima - Semibold';
    font-size: 24px;

    @include res('mob') {
      font-size: 22px;
    }
  }

  p {
    color: #141939;
    font-family: 'Proxima - Regular';
    font-size: 20px;
    line-height: 26px;
    margin-top: 20px;

    @include res('mob') {
      font-size: 20px;
      margin-top: 18px;
    }
  }
}

.is_anim {
  opacity: 0;
}

