.footet_header {
  height: 135px;
  background: url(../img/footer.svg);
  background-repeat: no-repeat;
  background-size: cover;

  @include res('desk-l') {
    background-size: 120%;
    background-position: -135px 0;
  }

  @include res("mob") {
    display: none;
  }

  @include res("tab") {
    display: none;
  }
}

footer {
  height: 250px;
  background: #F1F1FB;
  padding-top: 10px;
  display: flex;
  width: 100%;
  position: relative;


  @include res('tab') {
    flex-wrap: wrap;
    height: 326px;
    background: url(../img/footer_mobile.svg);
    padding-top: 50px;
    background-repeat: no-repeat;
    background-size: 100%;
  }

  @include res('mob') {
    flex-wrap: wrap;
    height: 326px;
    background: url(../img/footer_mobile.svg);
    padding-top: 35px;
    background-repeat: no-repeat;
    background-size: 100%;
  }

  .company_info {
    overflow: hidden;
    display: flex;
    width: 35%;
    @include res('mob') {
      width: 100%;
      height: 30px;
    }

    @include res('tab') {
      width: 100%;
      height: 30px;
    }

    flex-wrap: wrap;
    .logo {
      width: 100%;

      img {
        width: 235px;
        margin-left: 55px;

        @include res('mob') {
          width: 125px;
          margin-left: 20px;
        }

        @include res('tab') {
          width: 125px;
          margin-left: 20px;
        }
      }
    }

    .contact {
      margin-left: 56px;
      @include res('mob') {
        display: none;
      }

      @include res('tab') {
        display: none;
      }
      div {
        color: #141939;
        font-size: 20px;
        font-family: 'Proxima - Bold';
        letter-spacing: 2px;
      }

      a {
        color: #273271;
        font-size: 16px;
        font-family: 'Proxima - Semibold';
        margin-top: 10px;
        display: block;
      }
    }
  }

  .mobile_menu {
    display: none;

    @include res('tab') {
      display: flex;
      width: 100%;
      margin-top: -35px;

      ul {
        width: 35%;
        margin-left: 20px;

        li {
          display: block;
          margin-top: 17px;

          a {
            text-decoration: none;
            color: #141939;
            font-size: 16px;
            font-family: 'Proxima - Semibold';
          }

          span {
            color: #141939;
            font-size: 16px;
            font-family: 'Proxima - Semibold';
          }

          &.big {
            display: block;
            padding-top: 2px;
            letter-spacing: 2px;
            margin-top: 18px;

            &:nth-child(2) {
              margin-top: 21px;
            }

            &:nth-child(3) {
              margin-top: 21px;
            }

            a {
              text-decoration: none;
              color: #273271;
              font-size: 18px;
              font-family: 'Proxima - Bold';
            }

            span {
              color: #273271;
              font-size: 18px;
              font-family: 'Proxima - Bold';
            }
          }
          &.small {
            margin-top: 9px;

            a {
              color: #273271;
              font-family: 'Proxima - Semibold';
              font-size: 14px;
            }
          }

          &.small_size {
            &:last-child {
              margin-top: 5px;
            }

            a {
              font-size: 14px;
            }
          }

        }
      }
    }
    @include res('mob') {
      display: flex;
      width: 100%;
      margin-top: -35px;

      ul {
        width: 45%;
        margin-left: 20px;

        li {
          display: block;
          margin-top: 17px;

          a {
            text-decoration: none;
            color: #141939;
            font-size: 16px;
            font-family: 'Proxima - Semibold';
          }

          span {
            color: #141939;
            font-size: 16px;
            font-family: 'Proxima - Semibold';
          }

          &.big {
            display: block;
            padding-top: 2px;
            letter-spacing: 2px;
            margin-top: 18px;

            &:nth-child(2) {
              margin-top: 21px;
            }

            &:nth-child(3) {
              margin-top: 21px;
            }

            a {
              text-decoration: none;
              color: #273271;
              font-size: 18px;
              font-family: 'Proxima - Bold';
            }

            span {
              color: #273271;
              font-size: 18px;
              font-family: 'Proxima - Bold';
            }
          }
          &.small {
            margin-top: 9px;

            a {
              color: #273271;
              font-family: 'Proxima - Semibold';
              font-size: 14px;
            }
          }

          &.small_size {
            &:last-child {
              margin-top: 5px;
            }

            a {
              font-size: 14px;
            }
          }

        }
      }
    }
  }

  .menu {
    width: 57%;
    display: flex;

    @include res('mob') {
      display: none;
    }

    @include res('tab') {
      display: none;
    }

    ul {
      width: 25%;

      &:nth-child(2) {
        margin-left: 50px;
        width: 20%;
      }

      &:nth-child(3) {
        //width: 12%;
        //margin-left: 23px;
        //margin-top: 25px;\

        width: 22%;
        margin-left: 23px;
        margin-top: 0px;
      }

      &:nth-child(4) {
        //margin-left: 63px;
        //width: 23%;
      }

      li {
        display: block;
        margin-top: 14px;
        padding-left: 7px;

        a {
          text-decoration: none;
          color: #141939;
          font-size: 16px;
          font-family: 'Proxima - Semibold';
        }

        span {
          color: #141939;
          font-size: 16px;
          font-family: 'Proxima - Semibold';
        }

        &.big {
          padding-left: 7px;
          display: block;
          padding-top: 2px;
          letter-spacing: 2px;
          margin-top: 0;

          &:nth-child(2) {
            margin-top: 12px;
          }

          &:nth-child(3) {
            margin-top: 10px;
          }

          a {
            text-decoration: none;
            color: #273271;
            font-size: 20px;
            font-family: 'Proxima - Bold';
          }

          span {
            color: #273271;
            font-size: 20px;
            font-family: 'Proxima - Bold';
          }
        }
        &.small {
          margin-top: 9px;

          a {
            color: #273271;
            font-family: 'Proxima - Semibold';
            font-size: 14px;
          }
        }

        &.small_size {
          &:last-child {
            margin-top: 5px;
          }

          a {
            font-size: 14px;
          }
        }

      }
    }
  }

  .up_button {
    position: absolute;
    width: 52px;
    height: 52px;
    right: 55px;
    top: 10px;
    cursor: pointer;

    svg {
      .bg_svg {
        fill: #273271;
      }

      .arrow_svg {
        fill: #F1F1FB;
      }
    }

    @include res('mob') {
      display: none;
    }

    @include res('tab') {
      display: none;
    }

    img {
      width: 52px;
      height: 52px;
    }
  }

  .social {
    width: 35px;
    position: absolute;
    height: 35px;
    bottom: 80px;
    left: 260px;

    @include res('mob') {
      display: none;
    }

    @include res('tab') {
      display: none;
    }
  }

  .mobile_block {
    display: none;

    @include res("mob") {
      display: flex;

      .contact {
        width: 155px;
        padding-left: 23px;

        div {
          color: #141939;
          font-size: 18px;
          font-family: 'Proxima - Bold';
          letter-spacing: 2px;
        }

        a {
          color: #273271;
          font-size: 16px;
          font-family: 'Proxima - Semibold';
          margin-top: 17px;
          display: block;
        }
      }

      .social {
        display: block;
        bottom: 26px;
        left: initial;
        right: 85px;
      }

      .up_button {
        display: block;
        width: 46px;
        height: 46px;
        right: 22px;
        top: initial;
        bottom: 32px;
      }
    }

    @include res("tab") {
      display: flex;

      .contact {
        width: 155px;
        padding-left: 23px;

        div {
          color: #141939;
          font-size: 18px;
          font-family: 'Proxima - Bold';
          letter-spacing: 2px;
        }

        a {
          color: #273271;
          font-size: 16px;
          font-family: 'Proxima - Semibold';
          margin-top: 17px;
          display: block;
        }
      }

      .social {
        display: block;
        bottom: 23px;
        left: 220px;
      }

      .up_button {
        display: block;
        width: 46px;
        height: 46px;
        right: 70px;
        top: initial;
        bottom: 32px;
      }
    }
  }
}
