header {
  height: 87px;
  background: #fff;
  top: 0;
  z-index: 105;
  width: 100%;
  position: fixed;

  @include res("mob") {
    height: 50px;
    background: initial;
    position: absolute;
  }

  @include res("tab") {
    height: 50px;
  }

  .header {
    width: 100%;
    display: flex;
    height: 100%;
    .logo {
      margin-left: 46px;
      margin-top: 25px;

      img {
        width: 186px;

        &.main {
          @include res('mob') {
            display: none;
          }

          @include res('tab') {
            display: none;
          }
        }

        &.mobile {
          display: none;

          @include res('tab') {
            display: block;
            width: 126px;
            margin-top: -6px;
            margin-left: 6px;
          }

          @include res('mob') {
            display: block;
            width: 126px;
            margin-top: 9px;
            margin-left: 6px;
          }
        }
      }

      @include res('mob') {
        margin-left: 14px;
        margin-top: 9px;
        img {
          width: 150px;
        }
      }
    }
    .header_container {
      display: flex;
      width: calc(100% - 180px);
      justify-content: flex-end;

      @include res('desk-l') {
        position: relative;
        right: 25px;
      }
      .nav {
        @include res('mob') {
          display: none;
        }

        @include res('tab') {
          display: none;
        }

        .menu {
          display: flex;
          width: 515px;
          justify-content: space-between;
          margin-left: 135px;
          margin-top: 37px;

          li {
            font-family: "Proxima - Semibold";
            font-size: 18px;
            cursor: pointer;

            .menu_link {
              color: #141939;
              position: relative;
              overflow: hidden;
              text-decoration: none;

              &:not(.active):before {
                content: "";
                position: absolute;
                z-index: -1;
                left: 50%;
                right: 50%;
                top: -5px;
                background: #FDD9D7;
                height: 2px;
                transition: all 0.3s ease-out;
                opacity: 0;
              }
              &:not(.active):hover:before {
                opacity: 1;
                left: 0;
                right: 0;
              }

              &.active {
                &:before {
                  content: "";
                  position: absolute;
                  z-index: -1;
                  top: -5px;
                  background: #FDD9D7;
                  height: 2px;
                  opacity: 1;
                  left: 0;
                  right: 0;
                }

                &:last-child:before {
                  background: #FDD9D7;
                }
              }
            }

            &.dropdown {
              position: relative;
            }

            .sub_menu {
              opacity: 0;
              position: absolute;
              z-index: -1;
              height: 220px;
              width: 270px;
              left: -119px;
              top: 50px;
              box-shadow: 2px 2px 19px rgba(39, 50, 113, 0.5);
              background: #ffffff;
              border-radius: 10px;

              &.features_menu {
                height: 195px;
                display: flex;
                width: 200px;
                left: -15px;

                .triangle {
                  right: 90px;
                }

                .sub_items {
                  &:nth-child(3) {
                    margin-left: 30px;
                  }
                }
              }

              .triangle {
                width: 0;
                height: 0;
                border-left: 13px solid transparent;
                border-right: 13px solid transparent;
                border-bottom: 12px solid #fff;
                position: absolute;
                top: -11px;
                right: 72px;

              }

              .sub_items {
                padding-top: 7px;

                li {
                  margin-top: 13px;
                  padding-left: 16px;
                  a {
                    color: #141939;
                    font-family: 'Proxima - Semibold';
                    font-size: 18px;
                    text-decoration: none;

                    &.small_link {
                      color: #273271;
                      font-size: 16px;
                    }
                  }
                }
              }

            }

            svg {
              position: absolute;
              width: 11px;
              height: 8px;
              bottom: 4px;
              right: -21px;
            }

          }
        }
      }

      .lang {
        @include res('mob') {
          display: none;
        }
        @include res('tab') {
          display: none;
        }
        width: 40px;
        margin-right: 95px;
        position: relative;
        div {
          float: right;
          font-family: "Proxima - Semibold";
          font-size: 18px;
          margin-top: 37px;
        }

        svg {
          position: absolute;
          width: 11px;
          height: 8px;
          bottom: 34px;
          right: -21px;
        }
      }

      .button {
        @include res('mob') {
          display: none;
        }

        @include res('tab') {
          display: none;
        }
        margin-left: 59px;
        margin-top: 27px;
        margin-right: 20px;

      }
    }

  }
}

.mobile__menu {
  display: none;

  @include res('tab') {
    display: block;
    position: fixed;
    width: 222px;
    height: 100%;
    top: 0;
    background: url("../img/header.svg");
    background-color: #F1F1FB;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 120;
    right: -220px;

    ul {
      width: 100%;
      margin-left: 20px;
      margin-top: 70px;

      li {
        display: block;
        margin-top: 20px;

        a {
          color: #141939;
          font-size: 16px;
          font-family: 'Proxima - Semibold';
          text-decoration: none;
        }

        span {
          color: #141939;
          font-size: 16px;
          font-family: 'Proxima - Semibold';
        }

        &.big {
          display: block;
          padding-top: 2px;
          letter-spacing: 2px;
          margin-top: 30px;

          &:nth-child(2) {
            margin-top: 21px;
          }

          &:nth-child(3) {
            margin-top: 21px;
          }

          a {
            color: #273271;
            font-size: 18px;
            font-family: 'Proxima - Bold';
          }

          span {
            color: #273271;
            font-size: 18px;
            font-family: 'Proxima - Bold';
          }
        }
      }
    }
  }

  @include res('mob') {
    display: block;
    position: fixed;
    width: 222px;
    height: 100%;
    top: 0;
    background: url("../img/header.svg");
    background-color: #F1F1FB;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 120;
    right: -220px;

    ul {
      width: 100%;
      margin-left: 20px;
      margin-top: 70px;

      li {
        display: block;
        margin-top: 20px;

        a {
          color: #141939;
          font-size: 16px;
          font-family: 'Proxima - Semibold';
          text-decoration: none;
        }

        &.big {
          display: block;
          padding-top: 2px;
          letter-spacing: 2px;
          margin-top: 30px;

          &:nth-child(2) {
            margin-top: 21px;
          }

          &:nth-child(3) {
            margin-top: 21px;
          }

          a, span {
            color: #273271;
            font-size: 18px;
            font-family: 'Proxima - Bold';
          }
        }
      }
    }
  }
}

.hamburger {
  display: none;

  @include res('mob') {
    display: block;
    z-index: 125;
    position: absolute;
    right: 15px;
    top: -6px;
    background-color: transparent !important;
  }

  @include res('tab') {
    display: block;
    z-index: 125;
    position: fixed;
    right: 15px;
    top: -6px;
    background-color: transparent !important;
  }
}
