section.create_and_manage(id="create_and_manage")
    div.info_block
        div.img
            img(src='static/img/features/manage.svg')
        div.info
            img(src='static/img/features/1.svg')
            div.content
                h3 Create and Manage
                p.description An email creator empowered with our drag-and-drop principle allows you to create and send emails easily

    div.features_items
        div.item.content__item
            h5 Dynamic Content
            p Send custom campaigns or use advanced features such as showing several products or segments in one email
        div.item.content__item
            h5 RSS
            p Integrate all marketing platforms (blog, website or social media) to deliver up-to-date content to your customers daily
        div.item.content__item
            h5 Preview
            p Test campaigns and check newsletters on your mobile device before sending it to the entire mailing list

