section.deliverability(id='deliverability')
    div.info_block
        div.img
            img(src='static/img/features/deliverability.svg')
        div.info
            img(src='static/img/features/2.svg')
            div.content
                h3 Deliverability
                p.description MailFire offers a high delivery rate as all the campaigns are designed according to legal regulations and ethical practices
    div.delivery_items
        div.item.content__item
            h5 Outgoing Speed
            p Send millions of messages with our high quality-hosted solution and successfully deliver them to the customers
        div.item.content__item
            h5 Email Analysis
            p Get access to the detailed analysis that allow you to check broken links and mages or revise the HTML code
        div.item.content__item
            h5 Authentication
            p Authenticate your campaigns with domain identification records, and minimize the effect of antispam software
    div.delivery_items.second_line
        div.item.content__item
            h5 Dedicated IP Warm Up
            p Gain ISP confidence and increase your delivery rate with IP addresses with the reputation adjusted to your goals
        div.item.content__item
            h5 Made by People
            p Work with people who conduct daily analyzes to maintain the process effectiveness and ensure the antispam standards


