section.first_screen
    div.content
        h1
            div Our
            div features
        p.subtitle MailFire is a powerful, easy-to-use marketing tool designed to fulfill your potential
    div.bg
        include svg/firstscreen.svg
