section.splits(id='split')
    div.info_block
        div.img
            img(src='static/img/features/split.svg')
        div.info
            img(src='static/img/features/3.svg')
            div.content
                h3 A/B and split Testing
                p.description Mailfire allows you to create unlimited split tests and get the best response from your customers
    div.split_items
        div.item.content__item
            h5 Optimize your Campaigns
            p Create 2 versions of mailing campaigns, set up MailFire to test them and send the winning one an hour later
        div.item.content__item
            h5 Control Process
            p Customize your A/B testing criteria by choosing sample percentage, test duration, and winner metrics
        div.item.content__item
            h5 Improve Performance
            p Expand your A/B testing and split-test your contents, newsletter designs, senders to get a higher response rate 
        div.item.content__item
            h5 Get Real-Time Result
            p Track your A/B test by getting access to the split-test report and see which newsletter is edging out

