section.steps(id="integration")
    div.content
        h1.title
            div Easy steps
            div to integrate
        p.description With MailFire integration, you get access to features that allow you to get higher retention rate and improve your email marketing practices
        div.form
            div.button_line
                include ../about/svg/line_arrows.svg
                div.btn
                    a(href='/pricing.html') Try it
    div.bg
        include svg/steps.svg
    div.mobile_img
        img(src='static/img/features/steps_mobile.svg')
    div.steps_items
        div.item.content__item
            div.img
                img(src='static/img/features/bg/1.svg')
            h5.title STEP 1
            p.description Register on Mailfire.io and receive API key for your business
        div.item.content__item
            div.img
                img(src='static/img/features/bg/2.svg')
            h5.title STEP 2
            p.description Verify your domains by using identification records (e.g., DMARC, DKIM, SPF)
        div.item.content__item
            div.img
                img(src='static/img/features/bg/3.svg')
            h5.title STEP 3
            p.description Add NAME to track clicks and opens for your emails to create an effective sales funnel
        div.item.content__item
            div.img
                img(src='static/img/features/bg/6.svg')
            h5.title.second_line STEP 6
            p.description Use our API point and API keys to test your first emails
        div.item.content__item
            div.img
                img(src='static/img/features/bg/5.svg')
            h5.title.second_line STEP 5
            p.description Generate a "Sending Name" you want to display to your email receivers
        div.item.content__item
            div.img
                img(src='static/img/features/bg/4.svg')
            h5.title.second_line STEP 4
            p.description Select authentic sending “From” address to build strong connection with your customers
    div.mobile_steps
        div.item.content__item
            div.img
                include svg/bg.svg
            h5.title STEP 1
            p.description Register on Mailfire.io and receive API key for your business
        div.item.content__item
            div.img
                include svg/bg_2.svg
            h5.title STEP 2
            p.description Verify your domains by using identification records (e.g., DMARC, DKIM, SPF)
        div.item.content__item
            div.img
                include svg/bg_3.svg
            h5.title STEP 3
            p.description Add NAME to track clicks and opens for your emails to create an effective sales funnel
        div.item.content__item
            div.img
                include svg/bg_2.svg
            h5.title.second_line STEP 4
            p.description Select authentic sending “From” address to build strong connection with your customers
        div.item.content__item
            div.img
                include svg/bg_5.svg
            h5.title.second_line STEP 5
            p.description Generate a "Sending Name" you want to display to your email receivers
        div.item.content__item
            div.img
                include svg/bg_6.svg
            h5.title.second_line STEP 6
            p.description Use our API point and API keys to test your first emails

    div.mobile_nav
        include svg/steps_nav.svg
    div.additional
        div Additionally, we recommend our clients to register and add all necessary records in Gmail, Outlook and other postmasters\feedback loops to always keep track of domain and IP reputation


