.features {
  @include res("mob") {
    padding-top: 0;
  }


  @import "partial/firstscreen";
  @import "partial/create_and_manage";
  @import "partial/deliverability";
  @import "partial/splits";
  @import "partial/steps";
}
