section.firstscreen
    div.content
        div.title
            div Our
            div pricing offers
        div.subtitle We are e-mail marketing platform, which drives your users' retention. Our personalized approach to every product user and high email
    div.bg
        include svg/firstscreen.svg
