section.pricing_block
    div.content
        div.title Select a plan
        div.description Select a plan that best suits your needs and let’s get in touch to connect you to our platform
    div.prices
        div.price_item.active
            div.info
                img(src='static/img/pricing/price/1.svg')
                div.title Consept
                div.sub_info Test the platform with no commitment
            div.price
                div $
                div 0
                div / month
            div.list
                div 10,000 Emails included
                div 100 Valclassations included
                div 5 days of Log Retention
                div Email Analytics
                div Guaranteed Uptime SLA
                div 24/7 ticket Support
                div.inactive 1 Dedicated IP
                div.inactive Instant Chat Support
                div.inactive Live Phone Support
                div.inactive Managed Email Srvice
                div.inactive Repclass Fire Burst Sending
            div.btn(data-popup-target="first_price") Sign up
            div.extra
                div.extra_title Extra Emails & Valclassations
                div.extra_items
                    p from <span>$0,35</span> / 1000 emails
                    p from <span>$0,35</span> / 1000 emails
        div.price_item
            div.info
                img(src='static/img/pricing/price/2.svg')
                div.title Production
                div.sub_info Test the platform with no commitment
            div.price
                div $
                div 79
                div / month
            div.list
                div 10,000 Emails included
                div 100 Valclassations included
                div 5 days of Log Retention
                div Email Analytics
                div Guaranteed Uptime SLA
                div 24/7 ticket Support
                div 1 Dedicated IP
                div.inactive Instant Chat Support
                div.inactive Live Phone Support
                div.inactive Managed Email Srvice
                div.inactive Repclass Fire Burst Sending
            div.btn(data-popup-target="second_price") Sign up
            div.extra
                div.extra_title Extra Emails & Valclassations
                div.extra_items
                    p from <span>$0,35</span> / 1000 emails
                    p from <span>$0,35</span> / 1000 emails
        div.price_item
            div.info
                img(src='static/img/pricing/price/3.svg')
                div.title Scale
                div.sub_info Test the platform with no commitment
            div.price
                div $
                div 325
                div / month
            div.list
                div 10,000 Emails included
                div 100 Valclassations included
                div 5 days of Log Retention
                div Email Analytics
                div Guaranteed Uptime SLA
                div 24/7 ticket Support
                div 1 Dedicated IP
                div Instant Chat Support
                div.inactive Live Phone Support
                div.inactive Managed Email Srvice
                div.inactive Repclass Fire Burst Sending
            div.btn(data-popup-target="third_price") Sign up
            div.extra
                div.extra_title Extra Emails & Valclassations
                div.extra_items
                    p from <span>$0,35</span> / 1000 emails
                    p from <span>$0,35</span> / 1000 emails
        div.price_item
            div.info
                img(src='static/img/pricing/price/4.svg')
                div.title Enterprise
                div.sub_info Test the platform with no commitment
            div.price
                div
                div Custon
                div
            div.list
                div 10,000 Emails included
                div 100 Valclassations included
                div 5 days of Log Retention
                div Email Analytics
                div Guaranteed Uptime SLA
                div 24/7 ticket Support
                div 1 Dedicated IP
                div Instant Chat Support
                div Live Phone Support
                div Managed Email Srvice
                div Repclass Fire Burst Sending
            div.btn(data-popup-target="fourth_price") Sign up
            div.extra
                div.extra_title Extra Emails & Valclassations
                div.extra_items
                    p from <span>$0,35</span> / 1000 emails
                    p from <span>$0,35</span> / 1000 emails


    div.mobile_price
        div.price_item
            div.info
                img(src='static/img/pricing/price/1.svg')
                div.title Consept
                div.arrow
                    include svg/up.svg
                    include svg/down.svg
            div.price_data
                div.price
                    div $
                    div 0
                    div / month
                div.list
                    div 10,000 Emails included
                    div 100 Valclassations included
                    div 5 days of Log Retention
                    div Email Analytics
                    div Guaranteed Uptime SLA
                    div 24/7 ticket Support
                div.btn(data-popup-target="first_price") Sign up
        div.price_item
            div.info
                img(src='static/img/pricing/price/2.svg')
                div.title Production
                div.arrow
                    include svg/up.svg
                    include svg/down.svg
            div.price_data
                div.price
                    div $
                    div 79
                    div / month
                div.list
                    div 10,000 Emails included
                    div 100 Valclassations included
                    div 5 days of Log Retention
                    div Email Analytics
                    div Guaranteed Uptime SLA
                    div 24/7 ticket Support
                    div 1 Dedicated IP
                div.btn(data-popup-target="second_price") Sign up
        div.price_item
            div.info
                img(src='static/img/pricing/price/3.svg')
                div.title Scale
                div.arrow
                    include svg/up.svg
                    include svg/down.svg
            div.price_data
                div.price
                    div $
                    div 325
                    div / month
                div.list
                    div 10,000 Emails included
                    div 100 Valclassations included
                    div 5 days of Log Retention
                    div Email Analytics
                    div Guaranteed Uptime SLA
                    div 24/7 ticket Support
                    div 1 Dedicated IP
                    div Instant Chat Support
                div.btn(data-popup-target="third_price") Sign up
        div.price_item
            div.info
                img(src='static/img/pricing/price/4.svg')
                div.title Enterprise
                div.arrow
                    include svg/up.svg
                    include svg/down.svg
            div.price_data
                div.price
                    div
                    div Custon
                    div
                div.list
                    div 10,000 Emails included
                    div 100 Valclassations included
                    div 5 days of Log Retention
                    div Email Analytics
                    div Guaranteed Uptime SLA
                    div 24/7 ticket Support
                    div 1 Dedicated IP
                    div Instant Chat Support
                    div Live Phone Support
                    div Managed Email Srvice
                    div Repclass Fire Burst Sending
                div.btn(data-popup-target="fourth_price") Sign up

    div.additional
        div.title Additional services
        div.info_blco
            div.item
                div Web and Mobile push communication
                div Managed deliverability services
                div A/B split testing
            div.item
                div Email valclassation
                div Email Segmentation
                div Customly managed marketing automation solution

    div.popup.price__popup(data-popup-id="first_price")
        div.popup__container.price_request
            div.popup__close
                span
                span
            div.popup__content
                div.popup__body
                    div.info
                        img(src='static/img/pricing/price/1.svg')
                        div.title Concept
                        div.sub_info Test the platform with no commitment
                    div.price
                        div $
                        div 0
                        div / month
                    div.form_block
                        input(class='package_type' type='hidden' value='Concept')
                        form(autocomplete='off')
                            .form-group.form_item.input_wrap
                                input(class='name' type='text')
                                label Name
                                .help-block write correct name
                            .form-group.form_item.input_wrap
                                input(class='company' type='text')
                                label Company
                                .help-block write correct email
                            .form-group.form_item.input_wrap
                                input(class='email' type='text')
                                label Email
                                .help-block write correct email
                            .form-group.form_item.textarea_wrap
                                textarea(class='comment')
                                label Comment
                                .help-block write correct comment
                            button.btn Sign up
    div.popup.price__popup(data-popup-id="second_price")
        div.popup__container.price_request
            div.popup__close
                span
                span
            div.popup__content
                div.popup__body
                    div.info
                        img(src='static/img/pricing/price/2.svg')
                        div.title Production
                        div.sub_info Test the platform with no commitment
                    div.price
                        div $
                        div 79
                        div / month
                    div.form_block
                        form(autocomplete='off')
                            input(class='package_type' type='hidden' value='Production')
                            .form-group.form_item.input_wrap
                                input(class='name' type='text')
                                label Name
                                .help-block write correct name
                            .form-group.form_item.input_wrap
                                input(class='company' type='text')
                                label Company
                                .help-block write correct email
                            .form-group.form_item.input_wrap
                                input(class='email' type='text')
                                label Email
                                .help-block write correct email
                            .form-group.form_item.textarea_wrap
                                textarea(class='comment')
                                label Comment
                                .help-block write correct comment
                            button.btn Sign up
    div.popup.price__popup(data-popup-id="third_price")
        div.popup__container.price_request
            div.popup__close
                span
                span
            div.popup__content
                div.popup__body
                    div.info
                        img(src='static/img/pricing/price/3.svg')
                        div.title Scale
                        div.sub_info Test the platform with no commitment
                    div.price
                        div $
                        div 325
                        div / month
                    div.form_block
                        form(autocomplete='off')
                            input(class='package_type' type='hidden' value='Scale')
                            .form-group.form_item.input_wrap
                                input(class='name' type='text')
                                label Name
                                .help-block write correct name
                            .form-group.form_item.input_wrap
                                input(class='company' type='text')
                                label Company
                                .help-block write correct email
                            .form-group.form_item.input_wrap
                                input(class='email' type='text')
                                label Email
                                .help-block write correct email
                            .form-group.form_item.textarea_wrap
                                textarea(class='comment')
                                label Comment
                                .help-block write correct comment
                            button.btn Sign up
    div.popup.price__popup(data-popup-id="fourth_price")
        div.popup__container.price_request
            div.popup__close
                span
                span
            div.popup__content
                div.popup__body
                    div.info
                        img(src='static/img/pricing/price/4.svg')
                        div.title Enterprise
                        div.sub_info Test the platform with no commitment
                    div.price
                        div
                        div Custom
                        div
                    div.form_block
                        form(autocomplete='off')
                            input(class='package_type' type='hidden' value='Enterprise')
                            .form-group.form_item.input_wrap
                                input(class='name' type='text')
                                label Name
                                .help-block write correct name
                            .form-group.form_item.input_wrap
                                input(class='company' type='text')
                                label Company
                                .help-block write correct email
                            .form-group.form_item.input_wrap
                                input(class='email' type='text')
                                label Email
                                .help-block write correct email
                            .form-group.form_item.textarea_wrap
                                textarea(class='comment')
                                label Comment
                                .help-block write correct comment
                            button.btn Sign up









