@font-face {
  font-family: 'Proxima - Regular';
  src: url('../fonts/ProximaNova-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima - Semibold';
  src: url('../fonts/ProximaNova-Semibold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima - ExtraBold';
  src: url('../fonts/ProximaNovaCond-Extrabld.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Proxima - Bold';
  src: url('../fonts/ProximaNovaCond-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaCond - ExtraBold';
  src: url('../fonts/ProximaNovaCond-Extrabld.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaCond - Bold';
  src: url('../fonts/ProximaNovaCond-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaCond - SemiBold';
  src: url('../fonts/ProximaNovaCond-Semibold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaCond - Black';
  src: url('../fonts/ProximaNova-BlackIt.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


