section.api(id='api')
    div.content
        h2
            div Start sending emails via our API 
            div in a few easy steps
    div.items
        div.item
            div
                img(src='static/img/products/api/1.svg')
            div.title Register on mailfire.ai
        div.item
            div
                img(src='static/img/products/api/2.svg')
            div.title Get an API KEY
        div.item
            div
                img(src='static/img/products/api/3.svg')
            div.title Connect to our API
        div.item
            div
                img(src='static/img/products/api/4.svg')
            div.title Start sending emails
div.mobile_button.btn.api_btn
    a(href='/pricing.html') try it

