section.app
    div.nav
        include svg/nav.svg
    div.content
        div.mobile_image
            img(src='static/img/products/mobile/app.svg')
        h2
            div Application
            div programming interface
        div.list
            div Generate effective trigger emails to maintain interaction with your users
            div Compare the metrics and improve your email marketing efforts 
            div Track your customers' engagement to know their needs better
    div.bg
        img(src='static/img/products/application.svg')
    div.app_features
        div.item
            div.img
                img(src='static/img/products/app/1.svg')
            div.title Transfer and Send Content Easily
            div.subtitle With MailFire, generating emails is painless! You can set up trigger letters (e.g., transaction confirmation, registration, password recovery, etc.) and send them instantly
        div.item
            div.img
                img(src='static/img/products/app/2.svg')
            div.title Compare KPI and Generate reports
            div.subtitle Our analytics system allows you to generate reports for your campaigns in real-time. You can compare delivery rates or sending volume and then improve your email practices
        div.item
            div.img
                img(src='static/img/products/app/3.svg')
            div.title Track and Analyze Database
            div.subtitle MailFire helps you understand your subscribers better. You can track their engagement and filter nonexistent emails to reduce bounce rates and improve deliverability

