section.app_push(id='app_push')
    div.nav
        include svg/nav.svg
    div.content
        div.mobile_image
            img(src='static/img/products/mobile/app_push.svg')
        h2.title
            div APP
            div Push Notifications
        div.list
            div Empower your email marketing practice and get a 50% higher open rate. 
            div Send push messages to interact with your engaged users
            div Make direct contact with your new users to convert them into engaged customers

    div.info_block
        div
        div
            div.mobile_number
                img(src='static/img/products/mobile/1.svg')
            div.number
                include svg/1.svg
            div Push through Mobile Marketing Clutter!
            div Mailfire makes it a cinch to send personalized messages to your app users based on what they do! Connect with them via notifications, time-limited offers, and automatic reminders

        div
            div.mobile_number
                img(src='static/img/products/mobile/2.svg')
            div.number
                include svg/2.svg
            div Improve Engagement Rate
            div Our product offers you to leverage app push notifications to increase user retention and keep your current customers more engaged with your brand via smartphones 
        div
            div.mobile_number
                img(src='static/img/products/mobile/3.svg')
            div.number
                include svg/3.svg
            div Integrate Useful Features 
            div MailFire’s products integration is as easy as pie! Ask your developers to join our forces and start leveraging our main features to get more engaged customers
    div.bg
        include svg/app_push.svg
div.mobile_button.btn.app_push_btn
    a(href='/pricing.html') try it



