section.campaigns(id='campaigns')
    div.nav
        include svg/nav.svg
    div.content
        div.mobile_image
            img(src='static/img/products/mobile/letter.svg')
        h2.title
            div Email
            div Marketing Campaign
        div.sub_info
            div Easy and Powerful Email Marketing
            div Create and send newsletters to promote your business
            div Emails that always reach their destination
    div.bg
        include svg/campaigns.svg



