div.features
    div.item
        img(src='static/img/products/features/builder.svg')
        div.info
            p Leverage Email Builder
            p Simple template editor that helps you build your email with a simple drag&drop principle. Now you can create your campaigns on your own or let us take care of your customers.

    div.item
        img(src='static/img/products/features/anti.svg')
        div.info
            p Avoid Anti-Spam System
            p Following international email service regulations (ISP) allows sending thousands of emails securely without ending up in the spam folder. Deliver your emails straight to the inbox.
            
    div.item
        img(src='static/img/products/features/auto.svg')
        div.info
            p Automate Email Delivery 
            p Creating trigger funnels allows you to automate your email marketing activity in an easy and personalized way. MailfFire will guide you from capture to sale.
            
    div.item
        img(src='static/img/products/features/ab.svg')
        div.info
            p Conduct Split and A/B Testing 
            p Performing an automatic A/B test provides you with an opportunity to focus on your product development while your customers are choosing what emails works best for them. 
            
div.mobile_button.btn
    a(href='/pricing.html') Try it

