section.info_block
    div.content
        h1
            div Our
            div products
        p.subtitle Our products and channels are individually configured and designed to get the highest customer retention. It makes MailFire adjusted to your and your customers’ needs.
    div.bg
        include svg/info.svg
    div.mobile_bg
        include svg/bg_mob.svg
