section.push_features
    div.item
        div.img
            img(src='static/img/products/web_push/readers.svg')
        div.data
            div.title Raise awareness
            div.sub_title A web push notification allows you to keep your customers informed about new content and events that appear on your website
    div.item
        div.img
            img(src='static/img/products/web_push/message.svg')
        div.data
            div.title Get attention
            div.sub_title Web push notifications help you grab your customers' attention as soon as they open their browser. Our platform automatically delivers the message to you
    div.item
        div.img
            img(src='static/img/products/web_push/man.svg')
        div.data
            div.title Personalize message 
            div.sub_title MailFire's invitations and web push alerts can be personalized. Use unique texts, buttons, colors, and logos to adjust your message to your business goals
div.mobile_button.btn.push_features_btn
    a(href='/pricing.html') try it

