section.web_push(id='web_push')
    div.nav
        include svg/nav.svg
    div.content
        div.mobile_image
            img(src='static/img/products/mobile/monitor.svg')
        h2.title
            div Web
            div Push Notifications
        div.info_block
            div
                span Use Instant Messaging to Send notifications and keep your customers up-to-date.
               
            div
                span Promote new products and content from your website, blog, or eCommerce platform.

               
            div
                span Analyze reports and track email marketing metrics on the spot.

    div.bg
        include svg/web_push.svg
