section.cta_block
    div.content
        h2
            div Have
            div some questions?
        p.description If you have any questions or need help, please don’t hesitate to contact us. We are happy to help you.
        div.form
            div.row
                input(type='email' placeholder='Your e-mail address')
                div.icon
                    img.ok(src='static/img/form/ok.svg')
                    img.error(src='static/img/form/error.svg')
            div.button_line
                include svg/line_arrows.svg
                div.btn Get in touch
    div.bg
        include svg/cta.svg
