section.first_screen
    div.content
        h1.title
            div Marketing
            div retention platform
        p.subtitle Our marketing retention system allows you to create personalized messages to understand your clients and improve key product metrics. MailFire offers you support throughout your product life cycle.<br> <br>With us, you can focus on your product development and we take care of your customers.
        div.button_line
            include svg/line_arrows.svg
            div.btn(data-popup-target="contacts") Contact Us
    div.mobile_button.btn(data-popup-target="contacts") Contact Us
    p.subtitle_mobile Our marketing retention system allows you to create personalized messages to understand your clients and improve key product metrics. MailFire offers you support throughout your product life cycle.<br> <br>With us, you can focus on your product development and we take care of your customers.
    div.bg
        include svg/firstscreen.svg
