section.news_block
    h1.title News feeds
    p.description We are ready to share all the knowledge and expert opinions from our fields.
    div.news
        div.news_item
            div.img
                img(src='static/img/news/img.svg')
            div.category Lifehacks
            div.news_title
                a What is e-mail marketing and how it works.
        div.news_item
            div.img
                img(src='static/img/news/img.svg')
            div.category Lifehacks
            div.news_title
                a What is e-mail marketing and how it works.
        div.news_item
            div.img
                img(src='static/img/news/img.svg')
            div.category Lifehacks
            div.news_title
                a What is e-mail marketing and how it works.
    div.mobile_nav
        include  svg/slider_nav.svg

