section.second_screen
    h1.title Our products
    p.description Retention made easy with Mailfire’s products
    div.products_list
        div
            a(href='products.html#api')
                img(src='static/img/icons/letter.svg')
                div E-mail Marketing Campaign
        div
            img(src='static/img/icons/notifications.svg')
            div Web push notifications
        div
            img(src='static/img/icons/app.svg')
            div APP Push Notifications
        div
            img(src='static/img/icons/api.svg')
            div API
