section.slider_screen
    h1.title
        div We keep our
        div clients delighted
    div.slider
        div.slide.active
            div.left_side
                img.photo(src='static/img/slider/img.png')
            div.right_side
                div.quote
                    img(src='static/img/slider/quote.svg')
                div.description We no longer worry about customers thanks to the Mail FIre team. Our retention and customer loyalty has increased significantly. Moreover, we did not have to bother organizing our database, they did everything themselves.
                div.author Melissa  Tai, COO  Genesis LLC
        div.slide
            div.left_side
                img.photo(src='static/img/slider/img.png')
            div.right_side
                div.quote
                    img(src='static/img/slider/quote.svg')
                div.description 2 We no longer worry about customers thanks to the Mail FIre team. Our retention and customer loyalty has increased significantly. Moreover, we did not have to bother organizing our database, they did everything themselves.
                div.author Melissa  Tai, COO  Genesis LLC
    div.buttons_list
        div.right_button
            include svg/right_button.svg
        div.left_button
            include svg/left_button.svg
    div.mobile_nav
        include  svg/slider_nav.svg



