section.third_screen
    div.content
        h1.title
            div Works
            div best for
        div.list
            div E-commerce
            div General dating
            div News portal
            div Classified websites
        div.description MailFire brings excellent results to all businesses that use email marketing as their key retention platform. Let’s work together to take your project to the next level!  
        div.button_line
            include svg/smal_line_arrows.svg
            div.btn
                a(href='/pricing.html') Work with us
    div.bg
        include svg/thirdscreen.svg


