div.who_we_are
    div.content
        h1
            div Who
            div we are
        p.subtitle Email marketing platform, which drives your user's retention. Our personalized approach to every product user and high email deliverability help you not worry about users' retention anymore. We'll do it the best way possible
    div.bg
        img(src='static/img/about/who_we_are.svg')
    div.mission
        div.content_mission
            div.img
                img(src='static/img/about/flag.svg')
            div.info
                p Our values
                p Mailfire strives to enhance your team with our knowledge and become part of your business family. Our high level of responsibility in securing information and constant KPI tracking allows us to forecast any complications and give professional advice on product improvements


