section.work_with_us
    div.content
        h2.title
            div Let’s
            div work together!
        p.description Contact us to find out more about cooperation.
        div.form
            div.row
                input(type='email' placeholder='Your e-mail address')
                div.icon
                    img.ok(src='static/img/form/ok.svg')
                    img.error(src='static/img/form/error.svg')
            div.button_line
                include svg/line_arrows.svg
                div.btn.button Get in touch
    div.bg
        include svg/work.svg
