.api {
  position: relative;
  min-height: 505px;
  margin-bottom: 150px;

  @include res("mob") {
    margin-bottom: 50px;
    margin-top: -15px;
  }

  .content {
    margin-left: 55px;
    padding-top: 115px;

    @include res('mob') {
      margin-left: 0;
      padding-top: 0;

      h2 {
        font-size: 28px;
        text-align: center;
        letter-spacing: 1px;
        width: 320px;
        margin: 0 auto;
        margin-top: 76px;
        line-height: 33px;
      }
    }
  }

  .items {
    display: flex;
    width: calc(100% - 55px);
    margin-left: 55px;
    margin-top: 50px;

    @include res('mob') {
      width: 100%;
      margin-left: 0;
      flex-wrap: wrap;
      margin-top: 40px;
    }

    .item {
      width: 23%;
      justify-content: center;
      display: flex;
      flex-wrap: wrap;
      margin-top: 60px;
      height: 120px;

      @include res('mob') {
        width: 50%;
        margin-top: 0;
        margin-bottom: 40px;
      }

      &:nth-child(2) {
        margin-top: 130px;

        @include res('mob') {
          margin-top: 0;
        }
      }

      &:nth-child(4) {
        margin-top: 130px;

        @include res('mob') {
          margin-top: 0;
        }
      }

      .title {
        width: 100%;
        color: #141939;
        font-family: 'Proxima - Semibold';
        font-size: 22px;
        text-align: center;
        margin-top: 20px;

        @include res('mob') {
          text-align: center;
          font-size: 20px;
          width: 130px;

        }
      }
    }
  }
}

.api_btn {
  margin-top: -50px !important;
  margin-bottom: 110px;
}
