.app {
  position: relative;
  min-height: 755px;
  margin-top: 200px;

  @include res('mob') {
    margin-top: 0;
  }

  @include res('tab') {
    margin-top: 0;
  }

  .nav {
    position: absolute;
    top: -70px;
    left: 0;

    @include res('mob') {
      display: none;
    }
  }

  .content {
    margin-left: 58px;
    margin-top: 120px;

    @include res("tab") {
      width: 400px;
    }

    .mobile_image {
      display: none;

      @include res('mob') {
        display: block;
        margin-bottom: 43px;

        img {
          display: block;
          margin: 0 auto;
        }
      }
    }

    @include res('mob') {
      width: 280px;
      right: initial;
      position: initial;
      margin: 0 auto;
      margin-top: 140px;
    }

    h2 {
      @include res('mob') {
        margin-left: 0;
        padding-top: 0;
        font-size: 27px;
        letter-spacing: 1px;
        line-height: 33px;
      }
    }

    .description {
      width: 465px;
      margin-top: 18px;
      line-height: 26px;

      @include res('mob') {
        width: 280px;
        line-height: 23px;
      }
    }
  }

  .bg {
    position: absolute;
    right: 0;
    top: -140px;

    @include res('mob') {
      display: none;
    }

    @include res("tab") {
      top: -30px;
      img {
        height: 255px;

      }

    }
  }

  .app_features {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin-top: 150px;

    @include res("mob") {
      flex-wrap: wrap;
      margin-top: 0;
    }

    @include res("tab") {
      flex-wrap: wrap;
    }

    .item {
      width: 30%;

      @include res("mob") {
        width: 100%;
      }

      @include res("tab") {
        width: 100%;
      }

      img {
        display: block;
        margin: 0 auto;
      }

      .img {
        width: 100%;
        height: 238px;
        padding-left: 0;

        @include res("mob") {
          height: 190px;

          img {
            height: 170px;
          }
        }
      }

      div {
        padding-left: 35px;
        &.title {
          color: #141939;
          font-family: "Proxima - Semibold";
          font-size: 22px;
          @include res('mob') {
            text-align: center;
            padding-left: 0;
            width: 310px;
            margin: 0 auto;
            display: block;
            margin-top: 3px;
            margin-bottom: 31px;
          }
        }

        &.subtitle {
          font-family: 'Proxima - Regular';
          font-size: 20px;
          color: #000000;
          margin-top: 25px;

          @include res('mob') {
            display: none;
          }
        }
      }
    }
  }
  .list {

    @include res("mob") {
      margin-bottom: 50px;
    }

    margin-top: 30px;

    div {
      position: relative;

      font-family: "Proxima - Semibold";
      color: #141939;
      font-size: 16px;
      margin-top: 16px;
      padding-left: 37px;
      position: relative;

      &:first-child {
        margin-top: 12px;
      }

      &:before {
        content: "";
        position: absolute;
        left: 0;
        width: 14px;
        height: 14px;
        background: #F59E35;
        border-radius: 50%;
        top: 3px;

        @include res("mob") {
          width: 8px;
          height: 8px;
          top: 4px;
        }
      }
    }
  }
}
