.app_push {
  .nav {
    position: absolute;
    top: 95px;
    left: 0;

    @include res('mob') {
      display: none;
    }
  }

  position: relative;
  min-height: 935px;
  max-width: 1280px;

  @include res("mob") {
    min-height: 1210px;
  }

  @include res('tab') {
    min-height: 1065px;
  }

  .content {
    position: absolute;
    right: 56px;
    width: 469px;
    top: 222px;

    @include res("desk-l") {
      right: -120px;
    }

    @include res('tab') {
      right: initial;
      left: 56px;
    }

    .mobile_image {
      display: none;

      @include res('mob') {
        display: block;
        margin-bottom: 43px;

        img {
          display: block;
          margin: 0 auto;
        }
      }
    }

    @include res('mob') {
      width: 280px;
      right: initial;
      position: initial;
      margin: 0 auto;
      margin-top: 140px;
    }

    .title {
      @include res('mob') {
        margin-left: 0;
        padding-top: 0;
        font-size: 28px;
        letter-spacing: 1px;
      }
    }

    .description {
      margin-top: 22px;
      @include res("mob") {
        margin-top: 18px;
      }
    }
  }

  .info_block {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    position: absolute;
    width: 1197px;
    top: 460px;
    right: 56px;
    z-index: 25;

    @include res("desk-l") {
      right: -120px;
    }

    @include res('mob') {
      flex-wrap: wrap;
      background: none;
      top: initial;
      right: initial;
      padding-top: 50px;
      width: 100%;
    }

    @include res('tab') {
      flex-wrap: wrap;
      background: none;
      top: initial;
      right: initial;
      padding-top: 50px;
    }

    @include res("tab") {
      flex-wrap: wrap;
      background: none;
      width: 90%;
      margin-top: 430px;
    }

    div {
      width: 45%;
      position: relative;

      &:first-child {
        @include res('mob') {
          display: none;
        }

        @include res('tab') {
          display: none;
        }

      }

      @include res('mob') {
        width: 100%;
      }

      @include res('tab') {
        width: 100%;
      }

      .number {
        position: absolute;
        width: auto;
        top: 60px;
        left: 15px;

        @include res('mob') {
          display: none;
        }

        @include res('tab') {
          display: none;
        }
      }

      div {
        &:nth-child(3) {
          width: 100%;
          color: #141939;
          font-size: 22px;
          font-family: 'Proxima - Semibold';
          padding-left: 110px;
          padding-top: 55px;

          @include res("mob") {
            padding-left: 0;
            width: 250px;
            text-align: center;
            padding-top: 28px;
            margin: 0 auto;
          }

          @include res("tab") {
            padding-left: 0;
            padding-top: 28px;
            margin: 0 auto;
            margin-left: 56px;
          }
        }

        &:nth-child(4) {
          color: #000000;
          font-family: 'Proxima - Regular';
          font-size: 20px;
          padding-left: 110px;
          width: 485px;
          margin-top: 19px;
          line-height: 26px;

          @include res("mob") {
            display: none;
          }

          @include res('tab') {
            padding-left: 56px;
          }

        }
      }
    }

    .mobile_number {
      display: none;

      @include res("mob") {
        display: block !important;

        img {
          margin: 0 auto;
          display: block;
        }
      }
    }
  }

  .bg {
    position: absolute;
    z-index: -1;
    top: 140px;

    @include res("tab") {
      display: none;
    }

    svg {
      @include res("desk-l") {
        width: 720px !important;
        height: auto !important;

      }
    }

    @include res('mob') {
      display: none;
    }
  }

  .list {

    margin-top: 30px;

    @include res("mob") {
      margin-bottom: 30px;
    }

    div {
      position: relative;

      font-family: "Proxima - Semibold";
      color: #141939;
      font-size: 16px;
      margin-top: 16px;
      padding-left: 37px;
      position: relative;

      &:first-child {
        margin-top: 12px;
      }

      &:before {
        content: "";
        position: absolute;
        left: 0;
        width: 14px;
        height: 14px;
        background: #F59E35;
        border-radius: 50%;
        top: 3px;

        @include res("mob") {
          width: 8px;
          height: 8px;
          top: 4px;
        }
      }
    }
  }
}

.app_push_btn {
  margin-top: 21px !important;
}
