.campaigns {
  position: relative;
  min-height: 500px;

  .nav {
    position: absolute;
    top: 95px;
    left: 0;

    @include res('mob') {
      display: none;
    }
  }

  .content {
    width: 600px;
    position: absolute;
    right: 113px;
    padding-top: 140px;

    @include res("tab") {
      right: -40px;
    }

    @include res("mob") {
      padding-top: 0;
    }

    .mobile_image {
      display: none;

      @include res('mob') {
        display: block;
        margin-bottom: 43px;

        img {
          display: block;
          margin: 0 auto;
        }
      }
    }

    @include res('mob') {
      width: 280px;
      right: initial;
      position: initial;
      margin: 0 auto;
    }

    .title {
      margin-left: 90px;
      padding-top: 108px;

      @include res('mob') {
        margin-left: 0;
        padding-top: 0;
        font-size: 28px;
        letter-spacing: 1px;
      }

    }

    .sub_info {
      margin-left: 90px;

      @include res('mob') {
        margin-left: 0;
      }

      div {
        position: relative;
        color: #141939;
        font-family: 'ProximaCond - SemiBold';
        font-size: 20px;
        padding-left: 33px;
        margin-top: 15px;

        @include res('mob') {
          font-size: 18px;
          padding-left: 18px;
          margin-top: 17px;
        }

        &:first-child {
          margin-top: 24px;

          @include res('mob') {
            margin-top: 15px;
          }
        }

        &:before {
          content: '';
          position: absolute;
          width: 14px;
          height: 14px;
          background: #F59E35;
          left: -2px;
          border-radius: 50%;
          top: 4px;

          @include res('mob') {
            width: 8px;
            height: 8px;
          }
        }
      }
    }
  }

  .bg {
    position: absolute;
    left: 0;
    top: 140px;
    z-index: -1;

    @include res("mob") {
      display: none;
    }

    @include res("tab") {
      right: 0;
      top: 255px;
      svg {
        height: 200px;
        width: auto;
      }
    }

    .img {
      height: 450px;
    }
  }
}
