.features {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  min-height: 550px;
  padding-top: 145px;

  @include res("mob") {
    flex-wrap: wrap;
    padding-top: 40px;
  }

  @include res('tab') {
    flex-wrap: wrap;
  }

  .item {
    width: 25%;

    @include res("mob") {
      width: 100%;
    }

    @include res('tab') {
      width: 50%;
      margin-bottom: 30px;
    }

    &:first-child {
      img {

        @include res("mob") {
          width: 140px;
        }

        @include res("tab") {
          height: 200px;
        }

        height: 188px;
        width: 159px;
      }
    }

    img {
      height: 200px;

      @include res("mob") {
        margin: 0 auto;
        display: block;
        height: auto;
      }

      @include res("tab") {
        height: auto;
      }

      margin-left: 50px;
    }

    .info {
      width: 268px;
      display: block;
      margin-left: 50px;

      @include res("mob") {
        margin: 0 auto;
        text-align: center;
        margin-bottom: 37px;
      }

      p {
        display: block;

        &:first-child {
          font-size: 22px;
          color: #141939;
          font-family: 'Proxima - Semibold';
          margin-top: 20px;

          @include res('mob') {
            display: block;
          }
        }

        @include res('mob') {
          display: none;
        }

        color: #000000;
        font-family: 'Proxima - Regular';
        font-size: 20px;
        margin-top: 22px;
      }

    }
  }
}

.mobile_button {
  display: none;

  @include res('mob') {
    display: block;
    margin-top: 15px;
  }
}
