
.info_block {
  min-height: 310px;
  position: relative;

  .mobile_bg {
    display: none;

    @include res("mob") {
      display: block;
      position: absolute;
      width: 100%;
      top: 0;
      z-index: -1;

      svg {
        display: block;
        width: 100% !important;
        margin: 0 auto;
      }
    }
  }

  @include res('mob') {
    padding-top: 90px;
    min-height: 685px;
    background: url("../img/products/bg_mob.svg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
  }

  .content {
    margin-left: 55px;
    width: 473px;

    @include res('mob') {
      margin-left: 20px;
      width: 270px;
    }

    .subtitle {
      margin-top: 18px;

      @include res('mob') {
        margin-top: 20px;
      }
    }
  }

  .bg {
    position: absolute;
    right: 0;
    top: -85px;
    z-index: -1;

    @include res('mob') {
      display: none;
    }

    @include res('tab') {

      z-index: -5;

      svg {
        height: 250px !important;
        width: auto !important;

      }
    }

    img {
      height: 476px;
    }
  }
}
