.push_features {
  position: relative;
  min-height: 550px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  overflow: hidden;

  @include res('mob') {
    flex-wrap: wrap;
  }

  @include res("tab") {
    flex-wrap: wrap;
  }

  .item {
    width: 30%;

    @include res('mob') {
      width: 100%;
      margin-top: 29px;
    }

    @include res('tab') {
      width: 100%;
      margin-top: 29px;
    }

    margin-top: 63px;

    .data {
      @include res('mob') {
        margin-left: 0;
      }

      @include res('tab') {
        width: 500px;
        margin: 0 auto;

      }

      margin-left: 55px;
    }
    @include res('mob') {
      &:first-child {
        .img {
          height: 175px;

          img {
            height: 195px;
          }
        }
      }

      &:nth-child(2) {
        .img {
          height: 150px;

          img {
            height: 150px;
          }
        }
      }

      &:nth-child(3) {
        .img {
          height: 130px;

          img {
            height: 130px;
          }
        }
      }
    }

    .img {
      display: flex;
      justify-content: center;
      height: 265px;

      @include res('mob') {
        height: 165px;

        img {
          height: 165px;
        }
      }

      img {
        display: block;
        height: 265px;
      }
    }

    &:nth-child(2) {
      margin-left: 0;
      img {
        height: 221.88px;

        @include res('mob') {
          height: 165px;
        }
      }
    }

    &:nth-child(3) {
      margin-left: 0;
      img {
        height: 194.83px;

        @include res('mob') {
          height: 165px;
        }
      }
    }

    .title {
      color: #141939;
      font-family: 'Proxima - Semibold';
      font-size: 22px;
      width: 370px;

      @include res('mob') {
        width: 283px;
        margin: 0 auto;
        text-align: center;
        margin-top: 25px;
      }

      @include res('tab') {
        text-align: center;
        width: 100%;
      }
    }

    .sub_title {
      color: #000000;
      font-size: 20px;
      font-family: 'Proxima - Regular';
      margin-top: 28px;

      @include res('mob') {
        display: none;
      }

      @include res("tab") {
        text-align: center;
      }
    }
  }
}

.push_features_btn {
  margin-top: 51px !important;
}
