.web_push {
  position: relative;
  padding-top: 95px;

  .nav {
    position: absolute;
    top: 185px;
    left: 0;

    @include res('mob') {
      display: none;
    }
  }

  .info_block {
    background: none;
    min-height: 350px;

    @include res("mob"){
      min-height: auto;
    }

    @include res("tab") {
      min-height: auto;
    }
  }

  .content {
    width: 570px;

    .mobile_image {
      display: none;

      @include res('mob') {
        display: block;
        margin-bottom: 43px;

        img {
          display: block;
          margin: 0 auto;
        }
      }
    }

    @include res('mob') {
      width: 280px;
      display: block;
      margin: 0 auto;
      margin-top: 45px;
    }

    .title {
      margin-left: 58px;
      padding-top: 163px;

      @include res('mob') {
        margin-left: 0;
        padding-top: 0;
        font-size: 28px;
        letter-spacing: 1px;
      }
    }

    .info_block {
      width: 465px;
      margin-top: 30px;
      margin-left: 58px;

      @include res('mob') {
        width: 280px;
        margin: 0 auto;
        padding-top: 0px;
      }

      div {
        position: relative;
        color: #141939;
        font-family: 'ProximaCond - SemiBold';
        font-size: 20px;
        padding-left: 33px;
        margin-top: 17px;
        line-height: 25px;

        @include res('mob') {
          font-size: 18px;
          padding-left: 18px;
          margin-top: 17px;
        }

        &:first-child {
          margin-top: -5px;
          width: 435px;

          @include res('mob') {
            margin-top: 15px;
            width: 280px
          }
        }

        &:nth-child(2) {
          width: 435px;

          @include res('mob') {
            width: 280px
          }
        }

        &:nth-child(4) {
          margin-top: 12px;
        }

        &:before {
          content: '';
          position: absolute;
          width: 14px;
          height: 14px;
          background: #F59E35;
          left: -2px;
          border-radius: 50%;
          top: 4px;

          @include res('mob') {
            width: 8px;
            height: 8px;
          }
        }

        span {
          margin-left: 5px;
          &:first-child {
            color: #000000;
            font-family: 'ProximaCond - SemiBold';
            margin-left: 0px;
          }
        }
      }
    }
  }

  .bg {
    position: absolute;
    right: 0;
    top: 39px;

    @include res("mob") {
      display: none;
    }

    @include res("tab") {
      top: 250px;
      svg {
        height: 300px;
        width: auto;
      }
    }
  }
}
