mixin footer()
    div.footet_header
    footer
        div.up_button
            include svg/up.svg
        div.company_info
            div.logo
                a(href='/')
                    img(src='/static/img/logo_footer.svg')
            div.contact
                div Contact
                a(mailto='sales@corp.mailfire.io') sales@corp.mailfire.io
        //div.social
        //    div
        //        img(src='/static/img/icons/fb.svg')
        div.menu
            ul
                li.big
                    a(href='/') Home
                li
                    a(href='/about.html') About us
                li
                    a(href="/products.html") Our products
                li.small
                    a(href='/products.html#campaigns') E-mail marketing Campaign
                li.small
                    a(href='/products.html#web_push') Web push notifications
                li.small
                    a(href='/products.html#app_push') App push notifications
                li.small
                    a(href='/products.html#api') Api
            ul
                li.big
                    a.big(href='features.html') Features
                li.small
                    a(href="/features.html#create_and_manage") Create & manage
                li.small
                    a(href="/features.html#deliverability") Deliverability
                li.small
                    a(href='/features.html#split') A/B and split Testing
                li.small
                    a(href='/features.html#integration')  Integrations
            //ul
            //    li
            //        a Analysis & optimization
            //    li.small
            //        a Deliverability
            //    li.small
            //        a A/B Testing
            //    li.small
            //        a Reports
            ul
                //li.big
                //    a Blog
                li.big
                    a(href='/pricing.html') Pricing
                li.big
                    a(href='/static/files/mailfire.pdf' target='_blank') Privacy Policy
        div.mobile_menu
            ul
                li.big
                    a(href='/about.html') About us
                li
                    a(href='/products.html') Our products
                li.big
                    a.big(href='/features.html') Features
            ul
                li.big
                    a(href='/pricing.html') Pricing
                li.big
                    a(href='/static/files/mailfire.pdf' target='_blank') Privacy Policy
        div.mobile_block
            div.contact
                div Contact
                a(mailto='sales@corp.mailfire.io') sales@corp.mailfire.io
            //div.social
            //    div
            //        img(src='static/img/fb.svg')
            div.up_button
                include svg/up_small.svg




