mixin header()
    header
        div.header
            div.logo
                a(href='/home.html')
                    img.main(src='static/img/logo.png')
                    img.mobile(src='static/img/mobile_icon.svg')
            div.header_container
                div.nav
                    ul.menu
                        li
                            a.active.menu_link(href='/home.html') Home
                        li(class='dropdown')
                            a.menu_link About us
                            include svg/down_arrow.svg
                            div.sub_menu
                                div.triangle
                                ul.sub_items
                                    li
                                        a(href='/about.html') About us
                                    li
                                        a(href='/products.html') Our products
                                    li
                                        a.small_link(href='/products.html#campaigns') E-mail marketing Campaign
                                    li
                                        a.small_link(href='/products.html#web_push') Web push notifications
                                    li
                                        a.small_link(href='/products.html#app_push') App push notifications
                                    li
                                        a.small_link(href='/products.html#api') Api

                        li.dropdown
                            a.menu_link Features
                            include svg/down_arrow.svg
                            div.sub_menu.features_menu
                                div.triangle
                                ul.sub_items
                                    li
                                        a(href="/features.html") Our features
                                    li
                                        a.small_link(href="/features.html#create_and_manage") Create & manage
                                    li
                                        a.small_link(href="/features.html#deliverability") Deliverability
                                    li
                                        a.small_link(href='/features.html#split') A/B and split Testing
                                    li
                                        a.small_link(href='/features.html#integration')  Integrations
                        li
                            a.menu_link(href='/pricing.html') Pricing
                div.btn.reverse.button(data-popup-target="contacts") Contact Us
                // div.lang
                //     div En
                //     include svg/down_arrow.svg
    div.hamburger
        div.hamburger-box
            div.hamburger-inner
    div.mobile__menu
        ul
            li.big
                a(href='/about.html')  About us
            li
                a(href='/products.html') Our products
            li.big
                a(href='/features.html') Features
            li
                a(href="/features.html#create_and_manage") Create & manage
            li
                a(href="/features.html#deliverability") Deliverability
            li
                a(href='/features.html#split') A/B and split Testing
            li
                a(href='/features.html#integration')  Integrations
            li.big
                a(href='/pricing.html') Pricing


