extends ../extend/default

block main
    main.content.features(data-page='features')
        include features/firstscreen
        include features/create_and_manage
        include features/deliverability
        include features/splits
        include features/steps

