extends ../extend/default

block main
    main.content.home(data-page='home')
        include home/firstScreen
        include home/secondScreen
        include home/thirdScreen
        include home/cta

