extends ../extend/default

block main
    main.products(data-page='products')
        include products/info
        include products/campaigns
        include products/features
        include products/web_push
        include products/push_features
        include products/app_push
        include products/app
        include products/api

