.create_and_manage {
  width: 100%;
  padding-left: 55px;
  position: relative;
  min-height: 580px;
  padding-top: 80px;

  @include res('mob') {
    padding-left: 0;
    padding-top: 0;
  }

  .info_block {
    min-height: 345px;

    @include res("mob") {
      min-height: auto;
    }

    @include res("tab") {
      min-height: 170px;
    }
  }

  .img {
    position: absolute;
    top: 15px;

    @include res("mob") {
      top: 55px;
      right: 20px;
      z-index: -5;
    }

    @include res('tab') {
      display: none;
    }

    img {
      width: 346px;

      @include res("mob") {
        width: 130px;
      }
    }
  }

  .info {
    display: flex;
    position: absolute;
    flex-wrap: wrap;
    width: 734px;
    left: 475px;
    top: 127px;

    @include res("tab") {
      width: 100%;
      left: initial;
      top: initial;
      position: initial;
      margin: 0 auto;
    }

    @include res("mob") {
      width: 100%;
      left: initial;
      top: initial;
      position: initial;
      margin: 0 auto;

      img {
        left: 28px;
        top: 75px;
        position: absolute;
        margin: 0 auto;
        width: 110px;
      }
    }

    .content {
      margin-left: 55px;
      width: 473px;

      @include res("mob") {
        width: 100%;
        margin-left: 0;
        margin-top: 190px;
        text-align: center;

      }
    }

    .description {
      margin-top: 22px;

      @include res("mob") {
        display: none;
      }
    }
  }

  .features_items {
    display: flex;
    width: 100%;
    justify-content: space-around;

    @include res('mob') {
      flex-wrap: wrap;
      padding-top: 55px;
    }

    .item {
      @include res('mob') {
        width: 290px;
        margin: 0 auto;
        padding-left: 24px;
        padding-right: 24px;
        padding-top: 24px;
        height: auto;
        margin-top: 34px;
        padding-bottom: 24px;
      }

      width: 30%;
      background: #F1F1FB;

      padding-left: 29px;
      padding-right: 29px;
      padding-top: 40px;
      padding-bottom: 40px;

      border-radius: 5px;

      &:first-child {
        margin-left: 0px;

        @include res('mob') {
          margin: 0 auto;
        }
      }

      &:nth-child(2) {
        background: #FEF0E0;
      }
    }
  }
}
