.deliverability {
  width: 100%;
  padding-left: 55px;
  position: relative;
  min-height: 800px;
  padding-top: 120px;

  @include res('mob') {
    padding-left: 0;
    padding-top: 0;
  }

  .info_block {
    min-height: 280px;

    @include res("mob") {
      min-height: auto;
    }
  }

  .img {
    position: absolute;
    top: -47px;
    right: 55px;

    @include res("tab") {
      display: none;
    }

    @include res("mob") {
      top: 35px;
      left: 13px;
      z-index: -5;
    }

    img {
      width: 346px;

      @include res("mob") {
        width: 140px;
      }

    }
  }

  .info {
    display: flex;
    position: absolute;
    width: 734px;
    left: 61px;
    top: 55px;

    @include res("tab") {
      width: 100%;
      position: initial;
    }

    @include res("mob") {
      width: 100%;
      left: initial;
      top: initial;
      position: initial;
      margin: 0 auto;

      img {
        right: 28px;
        top: 75px;
        position: absolute;
        margin: 0 auto;
        width: 110px;
      }
    }

    .content {
      margin-left: 55px;
      width: 473px;

      @include res("mob") {
        width: 100%;
        margin-left: 0;
        margin-top: 190px;
        text-align: center;
      }

      .description {
        margin-top: 22px;

        @include res("mob") {
          display: none;
        }
      }
    }

  }

  .delivery_items {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;

    @include res("mob") {
      padding-top: 55px;
    }

    .item {
      width: 30%;
      background: #FEF4F3;
      padding-left: 29px;
      padding-right: 29px;
      padding-top: 40px;
      margin-left: 20px;
      border-radius: 5px;
      padding-bottom: 40px;

      @include res('mob') {
        width: 290px;
        margin: 0 auto;
        padding-left: 24px;
        padding-right: 24px;
        padding-top: 24px;
        height: auto;
        margin-top: 34px;
        padding-bottom: 24px;
      }

      &:first-child {
        margin-left: 0px;

        @include res('mob') {
          margin: 0 auto;

        }
      }

      &:nth-child(2) {
        background: #FEF0E0;
      }
    }

    &.second_line {
      margin-top: 35px;

      @include res("mob") {
        margin-top: -15px;
      }

      .item {
        &:first-child {
          @include res('mob') {
            margin-top: 0px;
          }
        }
      }
    }
  }
}
