.first_screen {
  position: relative;
  min-height: 308px;

  @include res('mob') {
    background: url("../img/features/mobile_bg.svg");
    background-repeat: no-repeat;
    background-position: center;
    min-height: 565px;
    background-size: cover;
  }

  .content {
    margin-left: 55px;
    width: 435px;
    margin-top: 0;

    @include res("tab") {
      width: 305px;
    }

    @include res('mob') {
      width: 280px;
      margin: 0 auto;
      padding-top: 123px;
    }

    .subtitle {
      margin-top: 18px;
    }
  }

  .bg {
    @include res('mob') {
      display: none;
    }

    position: absolute;
    right: 0;
    top: -132px;
    z-index: -1;

    @include res ("tab") {
      svg {
        width: 400px;
      }
    }
  }
}
