.splits {
  width: 100%;
  padding-left: 55px;
  position: relative;
  min-height: 660px;

  @include res('mob') {
    padding-left: 0;
  }

  .info_block {
    min-height: 345px;

    @include res("tab") {
      min-height: 170px;
      margin-top: 60px;
    }

    @include res("mob") {
      min-height: auto;
    }

    .content {
      margin-left: 48px;
      width: 540px;
      margin-top: 16px;

      h3 {
        @include res('mob') {
          width: 280px;
          margin: 0 auto;
          margin-top: 10px;
        }
      }

      @include res("mob") {
        width: 100%;
        margin-left: 0;
        margin-top: 190px;
        text-align: center;
      }
    }
  }

  .img {
    position: absolute;
    top: 65px;

    @include res("tab") {
      display: none;
    }

    @include res("mob") {
      top: 55px;
      right: 20px;
      z-index: -5;
    }

    img {
      width: 346px;
      @include res("mob") {
        width: 130px;
      }
    }
  }

  .info {
    display: flex;
    position: absolute;
    width: 734px;
    left: 460px;
    top: 167px;

    @include res("tab") {
      width: 100%;
      position: initial;
    }

    @include res("mob") {
      width: 100%;
      left: initial;
      top: initial;
      position: initial;
      margin: 0 auto;

      img {
        left: 28px;
        top: 75px;
        position: absolute;
        margin: 0 auto;
        width: 115px;
      }
    }

    .description {
      margin-top: 22px;

      @include res("mob") {
        display: none;
      }
    }
  }

  .split_items {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-top: 50px;

    @include res('mob') {
      flex-wrap: wrap;
      margin-top: 0;
      padding-top: 55px;
    }

    @include res('tab') {
      flex-wrap: wrap;
      margin-top: -25px;
    }

    .item {
      @include res('tab') {
        width: 45%;
        margin-top: 35px;
      }

      @include res('mob') {
        width: 290px;
        margin: 0 auto;
        padding-left: 24px;
        padding-right: 24px;
        padding-top: 24px;
        height: auto;
        margin-top: 25px;
        padding-bottom: 24px;

        &:first-child {
          margin-top: 0px;
        }
      }

      width: 23%;
      background: #F1F1FB;
      padding-left: 29px;
      padding-right: 29px;
      padding-top: 40px;
      padding-bottom: 40px;

      &:nth-child(2) {
        background: #FEF4F3;
      }

      &:nth-child(4) {
        background: #FEF4F3;
      }
    }
  }
}
