.steps {
  position: relative;
  width: 100%;
  padding-top: 40px;

  @include res("tab") {
    margin-bottom: 50px;
  }

  @include res("mob") {
    padding-top: 0;
  }

  .mobile_img {
    display: none;

    @include res("mob") {
      display: block;

      img {
        margin: 0 auto;
        display: block;
        margin-top: 48px;
      }
    }
  }
  .bg {
    width: 100%;
    position: absolute;
    top: 40px;

    @include res('mob') {
      display: none;
    }

    @include res("tab") {

      svg {
        width: 350px;
      }
    }

    svg {
      width: 625px;
      position: absolute;
      right: 0;
      top: 20px;
    }
  }

  .content {
    .title {
      font-size: 64px;
      letter-spacing: 3px;
      margin-left: 60px;
      padding-top: 142px;

      @include res('mob') {
        font-size: 32px;
        line-height: 35px;
        letter-spacing: 2px;
        padding-top: 70px;
      }
    }

    .description {
      width: 466px;
      margin-left: 60px;
      margin-top: 25px;

      @include res("mob") {
        width: 280px;
        margin-top: 20px;
      }

      @include res("tab") {
        width: 350px;
      }
    }

    .form {
      @include res("mob") {
        display: none;
      }

      .button_line {
        display: flex;
        width: 100%;
        margin-top: 32px;
        margin-left: 60px;

        img {
          width: 256px;
        }

        .btn {
          margin-left: 32px;
        }
      }
    }
  }

  .steps_items {
    width: 100%;
    display: flex;
    justify-content: center;
    max-width: 1260px;
    margin: 0 auto;
    margin-top: 92px;
    flex-wrap: wrap;

    @include res('mob') {
      display: none;
    }

    @include res('tab') {
      display: none;
    }

    .item {
      height: 300px;
      width: 404px;
      position: relative;
      background-repeat: no-repeat;
      text-align: center;
      background-size: cover;

      .img {
        height: 100%;
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;

        img {
          width: 402px;
          height: 271px;
          margin-left: 15px;

        }
      }

      &:nth-child(2) {
        .img {
          img {
            width: 404px;
            height: 270px;
            margin-left: 25px;
          }
        }
      }

      &:nth-child(3) {
        .img {
          img {
            width: 370px;
            height: 293px;
          }
        }
      }

      &:nth-child(4) {
        .img {
          img {
            width: 409px;
            height: 270px;
          }
        }
      }

      &:nth-child(5) {
        .img {
          img {
            width: 370px;
            height: 301px;
            margin-top: -30px;

          }
        }
      }

      &:nth-child(6) {
        .img {
          img {
            width: 403px;
            height: 271px;
            margin-left: -36px;
          }
        }
      }

      .title {
        margin-top: 34px;

        &.second_line {
          margin-top: 48px;
        }
      }

      .description {
        margin: 0 auto;
        width: 270px;
        margin-top: 30px;
      }

    }

  }

  .mobile_steps {
    display: none;

    @include res("tab") {
      display: flex;
      margin-left: 18px;
      margin-top: 115px;
      width: 1580px;

      .item {

        height: 218px;
        width: 261px;
        position: relative;
        background-repeat: no-repeat;
        text-align: center;
        background-size: cover;
        margin-right: 22px;

        .img {
          height: 100%;
          width: 100%;
          position: absolute;
          left: 0;
          top: 0;
          z-index: -1;

          img {
            width: 402px;
            height: 271px;
            margin-left: 15px;

          }
        }

        .title {
          margin-top: 26px;
          text-align: left;
          padding-left: 40px;

        }

        .description {
          width: 203px;
          text-align: left;
          padding-left: 40px;
          margin-top: 10px;
          font-size: 17px;
        }
      }
    }
    @include res("mob") {
      display: flex;
      margin-left: 18px;
      margin-top: 50px;
      width: 1580px;

      .item {

        height: 218px;
        width: 261px;
        position: relative;
        background-repeat: no-repeat;
        text-align: center;
        background-size: cover;
        margin-right: 22px;

        .img {
          height: 100%;
          width: 100%;
          position: absolute;
          left: 0;
          top: 0;
          z-index: -1;

          img {
            width: 402px;
            height: 271px;
            margin-left: 15px;

          }
        }

        .title {
          margin-top: 26px;
          text-align: left;
          padding-left: 40px;

        }

        .description {
          width: 203px;
          text-align: left;
          padding-left: 40px;
          margin-top: 10px;
        }
      }
    }
  }

  .additional {
    width: 100%;
    overflow: hidden;

    @include res("mob") {
      display: none;
    }

    div {
      width: 336px;
      float: right;
      font-size: 16px;
      font-family: 'Proxima - Regular';
      color: #000000;
      position: relative;
      margin-right: 55px;
      margin-top: 30px;
      line-height: 22px;

      @include res('tab') {
        float: left;
        margin-left: 70px;
      }

      &:before {
        content: '';
        position: absolute;
        background: #F59E35;
        width: 14px;
        height: 14px;
        border-radius: 50%;
        left: -34px;
        top: 5px;
      }
    }
  }

  .mobile_nav {
    display: none;

    @include res('tab') {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 29px;
      margin-bottom: 115px;

      circle {
        fill: #BDBDBD;

        &.active {
          fill: #273271;
        }
      }
    }
    @include res('mob') {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 29px;
      margin-bottom: 115px;

      circle {
        fill: #BDBDBD;

        &.active {
          fill: #273271;
        }
      }
    }
  }
}
