.first_screen {
  width: 100%;
  position: relative;
  min-height: 780px;
  overflow: hidden;

  .mobile_button {
    display: none;

    @include res('mob') {
      display: block;
      margin-top: 115%;
      min-height: auto;
    }
  }

  @include res('mob') {
    min-height: auto;
    background: url("../img/main_mob.svg");
    background-repeat: no-repeat;
    background-position: top;
    padding-top: 90px;
    background-size: contain;
  }

  .subtitle_mobile {
    display: none;
    width: 90%;
    margin: 0 auto;
    margin-top: 55px;

    @include res("mob") {
      display: block;
    }
  }

  .content {
    width: 475px;
    margin-left: 56px;
    margin-top: 108px;

    @include res("tab") {
      width: 360px;
      margin-top: 20px;
    }

    @include res("desk-l") {
      margin-top: 170px;
    }

    @include res('mob') {
      width: 80%;
      margin: 0 auto;
      position: relative;
    }

    .title {
      color: #273271;
      font-size: 56px;
      font-family: 'Proxima - ExtraBold';
      letter-spacing: 3px;

      @include res("mob") {
        font-size: 32px;
        letter-spacing: 1px;
      }
    }

    .subtitle {
      margin-top: 18px;

      @include res("mob") {
        display: none;
      }
    }
    .button_line {
      display: flex;
      width: 100%;
      margin-top: 30px;

      @include res("mob") {
        display: none;
      }

      img {
        width: 256px;
      }

      .btn {
        background: #F8443C;
        width: 180px;
        height: 46px;
        line-height: 46px;
        text-align: center;
        text-transform: uppercase;
        color: #fff;
        font-family: 'Proxima - Bold';
        font-size: 12px;
        margin-left: 32px;
        letter-spacing: 2px;
        transition: all 0.3s ease-out;
        box-sizing: border-box;
        border: 1px solid #F8443C;
        cursor: pointer;

        &:hover {
          background: transparent;
          color: #141939;
        }
      }
    }
  }

  .bg {
    position: absolute;
    right: 0;
    top: 55px;
    z-index: 1;

    @include res("mob") {
      display: none;
    }

    @include res("tab") {
      top: -75px;
      svg {
        width: 350px;
      }
    }
  }
}
