.news_block {
  margin-top: 25px;
  @include res("mob") {
    margin-top: 5px;
  }

  .title {
    color: #273271;
    font-size: 64px;
    font-family: 'Proxima - ExtraBold';
    letter-spacing: 3.5px;
    padding-left: 60px;

    @include res("mob") {
      font-size: 32px;
      letter-spacing: 2px;
      padding-left: 20px;
    }
  }

  .description {
    padding-left: 60px;
    max-width: 460px;
    margin-top: 15px;

    @include res("mob") {
      display: none;
    }
  }

  .news {
    display: flex;
    flex-wrap: wrap;
    margin-left: 60px;

    @include res("mob") {
      flex-wrap: nowrap;
      width: 280px;
      margin: 0 auto;
      overflow: hidden;
    }

    .news_item {
      width: 33%;
      margin-top: 75px;

      @include res("mob") {
        width: 100%;
        margin-top: 28px;
      }

      .img {
        width: 100%;

        img {
          width: 370px;

          @include res("mob") {
            width: 280px;
          }
        }
      }

      .category {
        width: 370px;

        color: #333333;
        font-size: 18px;
        font-family: 'Proxima - Regular';
        margin-top: 26px;

        @include res("mob") {
          margin-top: 16px;
        }
      }

      .news_title {
        width: 370px;
        margin-top: 20px;

        @include res("mob") {
          width: 280px;
          margin-top: 15px;
        }

        a {
          color: #000000;
          font-family: 'Proxima - Semibold';
          font-size: 24px;

          @include res("mob") {
            font-size: 18px;
          }
        }
      }

    }

  }

  .mobile_nav {
    display: none;

    @include res("mob") {
      display: flex;
      justify-content: center;
      margin-top: 27px;
    }
  }
}
