.second_screen {
  width: 100%;
  min-height: 650px;

  @include res("mob") {
    min-height: 635px;
    margin-top: 70px;
  }

  .title {
    color: #273271;
    font-size: 56px;
    font-family: 'Proxima - ExtraBold';
    letter-spacing: 3.5px;
    padding-left: 60px;

    @include res("mob") {
      font-size: 32px;
      letter-spacing: 2px;
      padding-left: 20px;
      margin-top: -5px;
    }
  }

  .description {
    margin-top: 18px;
    padding-left: 60px;

    @include res("mob") {
      margin-top: 18px;
      padding-left: 18px;
      width: 300px;
    }
  }

  .products_list {
    display: flex;
    margin-top: 104px;

    @include res("mob") {
      flex-wrap: wrap;
      margin-top: 36px;
    }

    @include res("tab") {
      flex-wrap: wrap;
    }


    div {
      width: 23%;
      margin-left: 24px;

      a {
        text-decoration: none;
      }

      @include res("tab") {
        width: 45%;
      }

      @include res("mob") {
        width: 50%;
        margin-left: 0;
      }

      img {
        height: 203px;

        @include res("mob") {
          height: 145px;
        }

        margin: 0 auto;
        display: block;
      }

      div {
        width: 60%;
        color: #141939;
        font-family: 'Proxima - Semibold';
        font-size: 22px;
        text-align: center;
        margin: 0 auto;
        margin-top: 13px;
        line-height: 27px;
        max-width: 180px;

        @include res("mob") {
          font-size: 15px;
          max-width: 130px;
          width: 100%;
        }

      }
    }
  }
}
