.slider_screen {
  margin-top: 95px;
  position: relative;
  min-height: 600px;

  @include res("mob") {

  }
  .title {
    color: #273271;
    font-size: 64px;
    font-family: 'Proxima - ExtraBold';
    letter-spacing: 3.5px;
    padding-left: 60px;
    @include res("mob") {
      font-size: 32px;
      letter-spacing: 2px;
      padding-left: 20px;
    }
  }

  .slider {

    .slide {
      position: absolute;
      display: flex;
      width: 100%;

      @include res("mob") {
        flex-wrap: wrap;
      }

      @include res("tab") {
        flex-wrap: wrap;
      }

      opacity: 0;

      &:first-child {
        opacity: 1;
      }
    }

    .left_side {
      width: 40%;
      display: flex;

      @include res("mob") {
        height: 260px;
      }

      @include res("tab") {
        height: 260px;
        width: 100%;
        justify-content: center;
      }

      .blob {
        position: relative;
        left: 60px;
        top: 65px;

        @include res("mob") {
          display: none;
          width: 270px;
          left: initial;
          right: initial;
          top: initial;
          position: initial;
          margin: 0 auto;
          margin-top: 40px;
        }
      }

      .photo {
        position: absolute;
        left: 55px;
        top: 90px;
        border-radius: 50%;
        width: 397px;

        @include res("tab") {
          width: 345px;
        }

        @include res("mob") {
          width: auto;
          left: 0;
          right: 0;
          height: 200px;
          position: relative;
          margin: 0 auto;
          top: 40px
        }
      }

      @include res("mob") {
        width: 100%;
      }
    }

    .right_side {
      width: 50%;
      position: relative;
      margin-left: 45px;

      .quote {
        position: relative;
        margin-top: 130px;
        width: 23px;
        height: 23px;

        @include res("mob") {
          margin-top: 0;
          margin-bottom: 10px;
        }

        &:before {
          content: "";
          position: absolute;
          left: 0;
          background: #F59E35;
          width: 23px;
          height: 23px;
          border-radius: 50%;

          @include res("mob") {
            width: 16px;
            height: 16px;
          }
        }

        img {
          position: absolute;
          top: 10px;
          left: 5px;
        }
      }

      .description {
        color: #1A1D23;
        font-size: 22px;
        font-family: 'Proxima - Regular';
        font-style: italic;
        margin-left: 35px;
        width: 428px;
        line-height: 29px;
        margin-top: -4px;

        @include res("mob") {
          width: 280px;
          margin: 0 auto;
          font-size: 16px;
          line-height: 21px;

        }
      }

      .author {
        color: #141939;
        font-family: 'Proxima - Semibold';
        font-size: 20px;
        margin-left: 35px;
        margin-top: 25px;
        letter-spacing: 1px;

        @include res("mob") {
          width: 280px;
          margin: 0 auto;
          font-size: 16px;
          margin-top: 5px;
        }
      }

      @include res("mob") {
        width: 100%;
        margin-left: 0;
        padding-left: 20px;
        margin-top: -12px;
      }
    }
  }

  .buttons_list {
    @include res('mob') {
      display: none;
    }

    @include res("tab") {
      top: 420px;
    }

    position: absolute;
    right: 70px;
    top: 330px;

    .left_button {
      margin-top: 25px;

    }

    circle {
      cursor: pointer;

      fill: #BDBDBD;
      &.active__nav {
        fill: #273271;
      }

      &:hover {
        fill: #273271;
      }
    }
  }

  .mobile_nav {
    display: none;

    @include res("mob") {
      display: flex;
      justify-content: center;
      margin-top: 30px;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%,-50%);
    }
  }

}
