.third_screen {
  position: relative;
  min-height: 655px;
  padding-top: 100px;

  @include res('mob') {
    min-height: 595px;
    background: url("../img/second_mb.svg");
    background-repeat: no-repeat;
    background-position: top;
    padding-top: 0;
    background-size: cover;
  }

  .content {
    position: absolute;
    right: 42px;
    width: 480px;

    @include res("mob") {
      width: 280px;
      margin: 0 auto;

      left: 20px;
      top: 95px;
    }

    @include res("tab") {
      right: 0;
    }

    .title {
      line-height: 69px;
      color: #273271;
      font-size: 64px;
      font-family: 'Proxima - ExtraBold';
      letter-spacing: 3px;

      @include res("mob") {
        font-size: 32px;
        letter-spacing: 2px;
        line-height: 32px;
      }
    }

    .list {
      display: flex;
      justify-content: baseline;
      flex-wrap: wrap;
      padding-top: 5px;

      div {
        width: 40%;
        font-family: 'ProximaCond - SemiBold';
        font-size: 20px;
        position: relative;
        margin-top: 21px;
        padding-left: 30px;

        @include res("mob") {
          width: 100%;
          font-size: 16px;
          margin-top: 13px;
          padding-left: 19px;
        }

        &:before {
          content: "";
          position: absolute;
          left: 0;
          width: 14px;
          height: 14px;
          background: #F59E35;
          border-radius: 50%;
          top: 3px;

          @include res("mob") {
            width: 8px;
            height: 8px;
            top: 4px;
          }
        }
      }
    }

    .description {
      font-size: 20px;
      font-family: 'Proxima - Regular';
      margin-top: 31px;
      width: 90%;
      line-height: 25px;

      @include res("mob") {
        display: none;
      }
    }

    .button_line {
      @include res("mob") {
        display: none;
      }

      display: flex;
      width: 100%;
      margin-top: 30px;

      img {
        width: 155px;
      }

      .btn {
        margin-left: 44px;
      }
    }
  }

  .bg {
    position: absolute;
    left: 0;
    top: -35px;

    @include res("mob") {
      display: none;
    }

    @include res("tab") {
      svg {
        width: 280px;
      }
    }
  }
}
