.trustworthy {
  margin-top: 15px;
  min-height: 455px;

  @include res("mob") {
    min-height: 290px;
  }

  .title {
    color: #273271;
    font-size: 64px;
    font-family: 'Proxima - ExtraBold';
    letter-spacing: 3.5px;
    padding-left: 60px;

    @include res("mob") {
      font-size: 32px;
      letter-spacing: 2px;
      line-height: 32px;
      padding-left: 19px;
      margin-top: 68px;

    }
  }

  .description {
    margin-top: 27px;
    padding-left: 60px;

    @include res("mob") {
      display: none;
    }
  }

  svg {
    @include res("mob") {
      display: none;
    }

    @include res("tab") {
      width: 600px;
      margin-top: 90px;
    }

    &.mobile_svg {
      display: none;

      @include res("mob") {
        display: block;
        width: 280px;
        height: 182px;
        margin-left: 0;
        margin: 0 auto;
        margin-top: 35px;
      }

    }
    display: block;
    width: 1048px;
    margin: 0 auto;
    margin-top: - 55px;
  }
}
