.home {
  padding-top: 85px;

  @include res('mob') {
    padding-top: 0;
  }

  @import "partial/secondscreen";
  @import "partial/thirdscreen";
  @import "partial/trustworthy";
  @import "partial/sliderscreen";
  @import "partial/news";
  @import "partial/cta";
  @import "partial/firstscreen";

}


