.who_we_are {
  position: relative;
  min-height: 800px;

  @include res('mob') {
    min-height: 1085px;

  }

  @include res("mob") {
    background: url("../img/about/mob_bg.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
  }

  .bg {
    position: absolute;
    height: 774px;
    right: 0;
    top: 5px;

    @include res('mob') {
      display: none;
    }
    @include res("tab") {
      img {
        width: 350px;
      }
    }

  }
  .content {
    position: absolute;
    left: 55px;
    width: 465px;
    top: 98px;

    @include res('mob') {
      left: 20px;
      top: 91px;
      width: 280px;
    }

    .subtitle {
      margin-top: 18px;
    }
  }

  .mission {
    position: absolute;
    display: flex;
    width: 670px;
    bottom: 52px;
    left: 157px;

    @include res('mob') {
      width: 100%;
      left: 0;
      bottom: 25px;
    }

    @include res("tab") {
      left: 56px;
    }

    .content_mission {
      display: flex;
      .img {
        @include res('mob') {
          display: none;
        }

        img {
          width: 190px;
          position: relative;
          top: 20px;
        }
      }

      .info {
        margin-left: 28px;
        margin-top: 7px;

        @include res("mob") {
          margin-left: 20px;
        }

        p {
          &:first-child {
            letter-spacing: 2px;
            font-size: 24px;
            color: #273271;
            font-family: 'Proxima - Bold';

          }

          &:nth-child(2) {
            font-size: 20px;
            color: #141939;
            font-family: 'Proxima - Regular';
            margin-top: 19px;
            width: 445px;
            line-height: 25px;

            @include res('mob') {
              font-size: 18px;
              width: 280px;
            }

          }
        }
      }
    }

  }
}
