.work_with_us {
  position: relative;
  min-height: 700px;

  @include res("mob") {
    min-height: 445px;
  }

  .content {
    position: absolute;
    right: 160px;
    top: 180px;

    @include res("mob") {
      position: initial;
      margin: 0 auto;
      margin-top: 70px;
      width: 280px;
    }
    h2 {
      @include res("tab") {
        padding-left: 0;
      }

      @include res("mob") {
        padding-left: 0;
      }
    }

    .description {
      width: 466px;
      margin-top: 25px;

      @include res("mob") {
        width: 280px;
        margin: 0 auto;
        margin-top: 20px;

      }

    }

    .btn {
      @include res("mob") {
        width: 280px;
      }
    }

    .form {

      .thank__you {
        text-align: center;
        font-family: "Proxima - Regular";
        font-size: 25px;
        margin-top: 10px;

        &:first-child {
          margin-top: 50px;
        }
      }


      .row {
        position: relative;
        .icon {
          position: absolute;
          width: 18px;
          height: 18px;
          top: 43px;
          right: 30px;

          @include res('mob') {
            right: 20px;
            top: 12px;
          }

          .ok {
            display: none;

            &.active {
              display: block;
            }
          }

          .error {
            display: none;

            &.active {
              display: block;
            }
          }

        }


        input {
          outline: 0;
          background: #EFE9E9;
          border: 0;
          width: 467px;
          height: 48px;
          color: #4F4F4F;
          font-size: 12px;
          margin-top: 30px;
          padding-left: 17px;
          padding-right: 17px;

          @include res("mob") {
            width: 280px;
            display: block;
            margin: 0 auto;
            margin-top: 30px;
          }

          &.ok {
            border: 1px solid #F59E35;
            background: #FDFDFD;
          }

          &:hover {
            background: #FDFDFD;
            color: #141939;
          }

          &:active {
            color: #141939;
            background: #FDFDFD;
          }

          &:focus {
            color: #141939;
            background: #FDFDFD;
          }

          &.error {
            border: 1px solid #EB5757;
            background: #FDFDFD;
          }
        }

        ::placeholder {
          color: #4F4F4F;
          font-weight: 200;
        }
      }

      .button_line {
        display: flex;
        width: 100%;
        margin-top: 32px;

        svg {
          width: 256px;
          @include res('mob') {
            display: none;
          }
        }

        .button {
          margin-left: 32px;

          @include res('mob') {
            margin: 0 auto;
          }
        }
      }
    }
  }

  .bg {
    height: 416px;
    position: absolute;
    top: 122px;
    left: 60px;

    @include res('mob') {
      display: none;
    }

    @include res("tab") {
      display: none;
    }
  }
}
