.products {

  @include res('mob') {
    padding-top: 0;
  }

  @import "partial/info_block";
  @import "partial/campaigns";
  @import "partial/features";
  @import "partial/web_push";
  @import "partial/push_features";
  @import "partial/app_push";
  @import "partial/app";
  @import "partial/api";
}

